Repository candy-lang/candy, pull requests merged in 2021-04, with the labels that each got.

#90 Generate property initializers for static properties in classes
  packages/compiler_dart/lib/src/declarations/property.dart
Labels: T: fix

#91 Bug fixes and support leading trivia in CST
  packages/ast/src/declarations.candy
  packages/ast/src/lowering.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/cst/src/file.candy
  packages/cst/src/parser.candy
  packages/dart_code/src/example.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
Labels: P: Compiler/Ast, P: Compiler/Cst, P: DartCode, T: feature

#92 Various fixes
  packages/compiler_dart/lib/src/declarations/module.dart
  packages/cst/src/parser.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
Labels: P: Compiler/Cst, P: DartCode, T: fix

#93 Generate enum type dart code
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/compiler_utils/src/utils.candy
  packages/core/src/collections/list/module.candy
Labels: P: Compiler/CodeGeneratorDart, P: Core, T: feature

#95 CST enum variant parsed too greedily
  packages/compiler_utils/src/utils.candy
  packages/core/src/collections/list/module.candy
  packages/cst/src/parser.candy
Labels: P: Compiler/Cst, P: Compiler/Utils, P: Core, T: fix

#98 Named type trait method name mangling
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/module_.candy
  packages/code_generator_dart/src/declarations/name_mangling.candy
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/core/src/collections/list/module.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/hir/src/example.candy
  packages/hir/src/lowering/module.candy
  packages/hir/src/lowering/resolving.candy
  packages/hir/src/lowering/types.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: Core, P: DartCode, T: feature

#100 dart_code: support comments
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/dart_code/src/example.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
Labels: T: feature

#102 Codegen for type and trait scaffolds
  packages/code_generator_dart/src/declarations/module_.candy
  packages/code_generator_dart/src/declarations/name_mangling.candy
  packages/code_generator_dart/src/declarations/trait.candy
  packages/code_generator_dart/src/declarations/type.candy
  packages/dart_code/src/example.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
Labels: T: feature

#103 Update license to MIT
  LICENSE
Labels: T: docs

#104 Resolve identifiers to type parameters
  packages/hir/src/lowering/declarations.candy
  packages/hir/src/lowering/resolving.candy
  packages/hir/src/types.candy
Labels: T: feature

#105 Honor use-lines when resolving identifiers
  packages/compiler_utils/src/utils.candy
  packages/hir/src/lowering/declarations.candy
  packages/hir/src/lowering/file.candy
  packages/hir/src/lowering/resolving.candy
  packages/hir/src/lowering/types.candy
Labels: T: feature

#108 Update HIR expressions
  .github/workflows/pr.yaml
  packages/compiler/lib/src/compilation/hir/type.dart
  packages/hir/src/expressions.candy
Labels: P: Compiler/Hir, T: feature

#109 code_generator_dart: compile remaining types
  new-packages/Core/src/.candy
  new-packages/Core/src/Int.candy
  new-packages/Core/src/Loops.candy
  packages/code_generator_dart/src/expressions/literals.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/function_type.candy
  packages/code_generator_dart/src/types/module.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/named_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/hir/src/declarations.candy
  packages/hir/src/types.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: Core, P: DartCode, T: feature

#110 code_generator_dart: compile some expressions
  packages/code_generator_dart/src/expressions/body.candy
  packages/code_generator_dart/src/expressions/lambda.candy
  packages/code_generator_dart/src/expressions/literals.candy
  packages/code_generator_dart/src/expressions/local_property.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/expressions/references.candy
  packages/code_generator_dart/src/expressions/types.candy
  packages/code_generator_dart/src/expressions/utils.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/hir/src/expressions.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: DartCode, T: feature

#111 Continues the journey to a great type solver
  new-packages/Core/src/Assert.candy
  new-packages/Core/src/Bool.candy
  new-packages/Core/src/Loops.candy
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Operators/Arithmetic.candy
  new-packages/Core/src/Operators/Comparison.candy
  new-packages/Core/src/Operators/Equality.candy
  new-packages/Core/src/Operators/Logical.candy
  new-packages/Core/src/Operators/Raw.candy
  new-packages/Core/src/Operators/Raw/.candy
  new-packages/Core/src/Operators/Raw/Infix.candy
  new-packages/Core/src/Operators/Raw/Prefix.candy
  new-packages/Core/src/Panic.candy
  new-packages/Playground/src/Types.candy
  packages/ast/src/declarations.candy
  packages/hir/src/example.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Ast, P: Compiler/Hir, P: Core

#112 code_generator_dart: Generate returns
  packages/code_generator_dart/candy_dart_utils.dart
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/module_.candy
  packages/code_generator_dart/src/expressions/body.candy
  packages/code_generator_dart/src/expressions/lambda.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/types/function_type.candy
  packages/code_generator_dart/src/types/module.candy
  packages/dart_code/src/example.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/hir/src/expressions.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: DartCode, T: feature

#113 Type solving
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Operators/Arithmetic.candy
  new-packages/Core/src/Operators/Comparison.candy
  new-packages/Core/src/Operators/Logical.candy
  new-packages/Core/src/Primitives.candy
  new-packages/Playground/src/Types.candy
  packages/hir/src/example.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/solver/impls.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Hir, P: Core

#114 CST & AST fixes
  new-packages/Core/src/Bool.candy
  packages/ast/src/declarations.candy
  packages/ast/src/lowering.candy
  packages/compiler_dart/bin/simplify_output.dart
  packages/cst/src/parser.candy
Labels: P: Compiler/Ast, P: Compiler/Cst, P: Core, T: fix

#115 Continue type solving
  new-packages/Playground/src/.candy
  new-packages/Playground/src/Types.candy
  new-packages/Playground/src/UseLines/.candy
  packages/hir/src/example.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/solver/impls.candy
Labels: P: Compiler/Hir

#116 Actually compile inline types to Dart
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/module_.candy
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/named_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/compiler_utils/src/package.candy
  packages/hir/src/declarations.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: Compiler/Utils, T: feature
