Repository candy-lang/candy, pull requests merged in 2021-05, with the labels that each got.

#118 Extend Cherry's Core
  new-packages/Core/src/.candy
  new-packages/Core/src/Collections/.candy
  new-packages/Core/src/Collections/Iterate.candy
  new-packages/Core/src/Collections/List/.candy
  new-packages/Core/src/Collections/List/Array.candy
  new-packages/Core/src/Collections/Map/.candy
  new-packages/Core/src/Collections/Map/BucketMap.candy
  new-packages/Core/src/Collections/Map/LinkedHashMap.candy
  new-packages/Core/src/Collections/Set/.candy
  new-packages/Core/src/Collections/Set/MapBasedSet.candy
  new-packages/Core/src/Hash.candy
  new-packages/Core/src/Int.candy
  new-packages/Core/src/Loops.candy
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Mutable.candy
Labels: P: Core, T: feature

#119 Add IO to cherry Core
  new-packages/Core/src/.candy
  new-packages/Core/src/Int.candy
  new-packages/Core/src/Io/.candy
  new-packages/Core/src/Io/File.candy
  new-packages/Core/src/Io/Process.candy
  new-packages/Core/src/Loops.candy
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Result.candy
  new-packages/Core/src/String.candy
  new-packages/Core/src/Todo.candy
  new-packages/Core/src/Tuples.candy
Labels: P: Core, T: feature

#120 Add `String.build(…)`
  new-packages/Core/src/String.candy
Labels: P: Core, T: feature

#121 Cherry Core: List builder
  new-packages/Core/src/Collections/Iterate.candy
  new-packages/Core/src/Collections/LinkedList.candy
  new-packages/Core/src/Collections/List/.candy
  new-packages/Core/src/Collections/List/Array.candy
Labels: P: Core, T: feature

#122 Order intersection types when mangling
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
Labels: P: Compiler/CodeGeneratorDart, T: fix

#123 Refactor hash and do some small fixes
  new-packages/Core/src/.candy
  new-packages/Core/src/Bool.candy
  new-packages/Core/src/Collections/Iterate.candy
  new-packages/Core/src/Collections/List/.candy
  new-packages/Core/src/Collections/Map/.candy
  new-packages/Core/src/Collections/Set/.candy
  new-packages/Core/src/ControlFlow.candy
  new-packages/Core/src/Hash.candy
  new-packages/Core/src/Int.candy
  new-packages/Core/src/Io/File.candy
  new-packages/Core/src/Io/Process.candy
  new-packages/Core/src/Loops.candy
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Operators/.candy
  new-packages/Core/src/Operators/Compare.candy
  new-packages/Core/src/Operators/Equals.candy
  new-packages/Core/src/Primitives.candy
  new-packages/Core/src/Result.candy
  new-packages/Core/src/String.candy
Labels: P: Core

#125 Update README
  README.md
Labels: T: docs

#124 code_generator_dart: Collect all inline types
  new-packages/Core/src/Bool.candy
  new-packages/Core/src/Collections/Set/.candy
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/code_generator_dart/src/types/type_collection.candy
  packages/hir/src/declarations.candy
  packages/hir/src/lowering/declarations.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, P: Core, T: feature

#126 Core: Ranges & Progressions
  new-packages/Core/src/.candy
  new-packages/Core/src/Ranges/.candy
  new-packages/Core/src/Ranges/Progressions.candy
  new-packages/Core/src/Ranges/Ranges.candy
Labels: P: Core, T: feature
