Repository candy-lang/candy, pull requests merged in 2021-07, with the labels that each got.

#128 Update code_generator_dart to match new HIR expressions
  packages/ast/src/expressions.candy
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
  packages/code_generator_dart/src/expressions/body.candy
  packages/code_generator_dart/src/expressions/function_call.candy
  packages/code_generator_dart/src/expressions/lambda.candy
  packages/code_generator_dart/src/expressions/literals.candy
  packages/code_generator_dart/src/expressions/local_property.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/expressions/references.candy
  packages/code_generator_dart/src/expressions/types.candy
  packages/code_generator_dart/src/expressions/utils.candy
  packages/code_generator_dart/src/types/module.candy
  packages/code_generator_dart/src/types/tuple_type.candy
  packages/hir/src/expressions.candy
  packages/hir/src/lowering/constants.candy
  packages/hir/src/lowering/expressions.candy
Labels: P: Compiler/Ast, P: Compiler/CodeGeneratorDart, P: Compiler/Hir, T: feature

#130 Remove DelegationBody
  packages/ast/src/declarations.candy
  packages/ast/src/errors/expected_expression.candy
  packages/ast/src/lowering.candy
  packages/cst/src/declarations.candy
  packages/cst/src/expressions.candy
  packages/cst/src/parser.candy
  packages/hir/src/expressions.candy
  packages/hir/src/lowering/expressions.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Ast, P: Compiler/Cst, P: Compiler/Hir, T: change

#131 Rename tuple to positional tuple
  language/book/cheatsheet.md
  new-packages/Core/src/Tuples.candy
  packages/ast/src/errors/expected_two_or_more_items_in_positional_tuple.candy
  packages/ast/src/errors/expected_two_or_more_items_in_tuple.candy
  packages/ast/src/errors/missing_closing_bracket.candy
  packages/ast/src/errors/module.candy
  packages/ast/src/expressions.candy
  packages/ast/src/lowering.candy
  packages/ast/src/types.candy
  packages/code_generator_dart/src/types/type_collection.candy
  packages/cst/src/expressions.candy
  packages/cst/src/parser.candy
  packages/cst/src/types.candy
  packages/hir/src/declarations.candy
  packages/hir/src/expressions.candy
  packages/hir/src/lowering/expressions.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Ast, P: Compiler/CodeGeneratorDart, P: Compiler/Cst, P: Compiler/Hir, P: Core

#132 Parse value parameters without name
  packages/ast/src/errors/duplicate_value_parameter_name.candy
  packages/ast/src/errors/expected_type_in_type_argument.candy
  packages/ast/src/errors/function_value_parameter_type_missing.candy
  packages/ast/src/errors/lambda_value_parameter_type_expected.candy
  packages/ast/src/errors/module.candy
  packages/ast/src/lowering.candy
  packages/cst/src/declarations.candy
  packages/cst/src/parser.candy
Labels: P: Compiler/Ast, P: Compiler/Cst, T: feature

#133 Add CstNamedTupleExpression
  packages/cst/src/expressions.candy
  packages/cst/src/parser.candy
Labels: P: Compiler/Cst, T: feature

#134 Remove HirPositionalTupleType
  packages/code_generator_dart/src/types/type_collection.candy
  packages/hir/src/lowering/expressions.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/types.candy
Labels: P: Compiler/CodeGeneratorDart, P: Compiler/Hir, T: change

#137 Various Improvements
  new-packages/Core/src/Bool.candy
  new-packages/Core/src/Collections/Iterate.candy
  new-packages/Core/src/Collections/Map/.candy
  new-packages/Core/src/Collections/Map/BucketMap.candy
  new-packages/Core/src/Collections/Set/.candy
  new-packages/Core/src/Io/File.candy
  new-packages/Core/src/Maybe.candy
  new-packages/Core/src/Result.candy
  packages/ast/src/declarations.candy
  packages/ast/src/expressions.candy
  packages/ast/src/file.candy
  packages/ast/src/lowering.candy
  packages/ast/src/types.candy
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/function.candy
  packages/code_generator_dart/src/declarations/module.candy
  packages/code_generator_dart/src/declarations/module_.candy
  packages/code_generator_dart/src/declarations/name_mangling.candy
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
  packages/code_generator_dart/src/expressions/body.candy
  packages/code_generator_dart/src/expressions/function_call.candy
  packages/code_generator_dart/src/expressions/lambda.candy
  packages/code_generator_dart/src/expressions/literals.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/expressions/references.candy
  packages/code_generator_dart/src/expressions/types.candy
  packages/code_generator_dart/src/expressions/utils.candy
  packages/code_generator_dart/src/types/enum_type.candy
  packages/code_generator_dart/src/types/named_tuple_type.candy
  packages/code_generator_dart/src/types/type_collection.candy
  packages/compiler_dart/lib/src/body.dart
  packages/compiler_utils/src/utils.candy
  packages/core/src/collections/iterable.candy
  packages/core/src/collections/list/array_list.candy
  packages/core/src/collections/list/module.candy
  packages/core/src/collections/map/bucket_map.candy
  packages/core/src/collections/map/linked_hash_map.candy
  packages/core/src/collections/map/module.candy
  packages/core/src/collections/set/map_based_set.candy
  packages/core/src/collections/set/module.candy
  packages/core/src/maybe.candy
  packages/cst/src/parser.candy
  packages/hir/src/declarations.candy
  packages/hir/src/expressions.candy
  packages/hir/src/lowering/declarations.candy
  packages/hir/src/lowering/expressions.candy
  packages/hir/src/lowering/file.candy
  packages/hir/src/lowering/module.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/solver/goals.candy
  packages/hir/src/solver/values.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Ast, P: Compiler/CodeGeneratorDart, P: Compiler/Cst, P: Compiler/Hir, P: Compiler/Utils, P: Core

#136 Remove positional tuples
  language/book/cheatsheet.md
  new-packages/Core/src/Tuples.candy
  packages/ast/src/errors/expected_two_or_more_items_in_positional_tuple.candy
  packages/ast/src/errors/expected_type.candy
  packages/ast/src/errors/missing_closing_bracket.candy
  packages/ast/src/errors/module.candy
  packages/ast/src/expressions.candy
  packages/ast/src/lowering.candy
  packages/ast/src/types.candy
  packages/code_generator_dart/candyspec.yml
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/trait_method_name_mangling.candy
  packages/code_generator_dart/src/expressions/module.candy
  packages/code_generator_dart/src/expressions/types.candy
  packages/code_generator_dart/src/types/module.candy
  packages/code_generator_dart/src/types/struct_type.candy
  packages/code_generator_dart/src/types/type_collection.candy
  packages/cst/src/expressions.candy
  packages/cst/src/parser.candy
  packages/cst/src/types.candy
  packages/hir/src/declarations.candy
  packages/hir/src/expressions.candy
  packages/hir/src/lowering/expressions.candy
  packages/hir/src/lowering/types.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Ast, P: Compiler/CodeGeneratorDart, P: Compiler/Cst, P: Compiler/Hir, P: Core
