Repository candy-lang/candy, pull requests merged in 2021-02, with the labels that each got.

#62 File system access
  packages/ast/src/errors/duplicate_declaration_name.candy
  packages/ast/src/errors/duplicate_type_parameter_name.candy
  packages/ast/src/errors/duplicate_value_parameter_name.candy
  packages/ast/src/errors/expected_expression.candy
  packages/ast/src/errors/expected_function_return_type.candy
  packages/ast/src/errors/expected_identifier.candy
  packages/ast/src/errors/expected_parameter_types_in_function_type.candy
  packages/ast/src/errors/expected_return_type_in_function_type.candy
  packages/ast/src/errors/expected_two_or_more_items_in_tuple.candy
  packages/ast/src/errors/expected_type.candy
  packages/ast/src/errors/expected_type_in_group_type.candy
  packages/ast/src/errors/expected_type_in_type_argument.candy
  packages/ast/src/errors/expected_type_in_type_parameter.candy
  packages/ast/src/errors/function_value_parameter_type_missing.candy
  packages/ast/src/errors/invalid_declaration_type.candy
  packages/ast/src/errors/invalid_escape_sequence.candy
  packages/ast/src/errors/invalid_implemented_traits.candy
  packages/ast/src/errors/lambda_value_parameter_type_expected.candy
  packages/ast/src/errors/missing_closing_bracket.candy
  packages/ast/src/errors/missing_declaration_name.candy
  packages/ast/src/errors/missing_expression_in_interpolation.candy
  packages/ast/src/errors/missing_function_value_parameters.candy
  packages/ast/src/errors/missing_type_parameter_name.candy
  packages/ast/src/errors/use_line_after_declaration.candy
  packages/ast/src/file.candy
  packages/ast/src/lowering.candy
  packages/compiler/lib/src/compilation/hir/ids.dart
  packages/compiler/lib/src/compilation/hir/type.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_dart/lib/src/constants.dart
  packages/compiler_utils/src/file.candy
  packages/compiler_utils/src/location.candy
  packages/core/src/io/file.candy
  packages/core/src/io/module.candy
Labels: P: core, T: feature

#63 Add name_checker to check for free domains & GitHub profiles
  candy.code-workspace
  packages/name_checker/.gitignore
  packages/name_checker/analysis_options.yaml
  packages/name_checker/bin/main.dart
  packages/name_checker/pubspec.yaml
Labels: T: feature

#65 FancyFile access
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_utils/candyspec.yml
  packages/compiler_utils/src/file.candy
  packages/compiler_utils/src/package.candy
  packages/core/src/io/file.candy
  packages/incremental/src/query.candy
Labels: P: compiler/utils, P: core, P: incremental, T: feature

#66 Add queries for CSTs and ASTs of files
  packages/ast/candyspec.yml
  packages/ast/src/lowering.candy
  packages/cst/candyspec.yml
  packages/cst/src/parser.candy
Labels: P: compiler/ast, P: compiler/cst, T: feature

#67 More Path operations
  packages/compiler_dart/lib/src/body.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_dart/lib/src/constants.dart
  packages/compiler_dart/lib/src/pubspec.dart
  packages/core/src/io/file.candy
Labels: P: core, T: feature

#68 Read Candyspec
  packages/compiler/lib/src/compilation/ast_hir_lowering/body.dart
  packages/compiler/lib/src/compilation/hir/type.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_dart/lib/src/declarations/trait.dart
  packages/compiler_utils/candyspec.yaml
  packages/compiler_utils/src/candyspec.candy
  packages/compiler_utils/src/example.candy
  packages/compiler_utils/src/file.candy
  packages/compiler_utils/src/package.candy
  packages/core/src/collections/iterable.candy
  packages/core/src/io/file.candy
  packages/core/src/operators/equality.candy
  packages/core/src/string.candy
  packages/lsp_server/lib/src/type_labels.dart
Labels: P: Compiler/Utils, P: Core, P: LspServer, T: feature

#69 Dependency resolution
  packages/ast/candyspec.yaml
  packages/compiler_dart/bin/simplify_output.dart
  packages/compiler_dart/lib/src/body.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_utils/.vscode/launch.json
  packages/compiler_utils/candyspec.yaml
  packages/compiler_utils/src/candyspec.candy
  packages/compiler_utils/src/dependencies.candy
  packages/compiler_utils/src/error.candy
  packages/compiler_utils/src/example.candy
  packages/core/candyspec.yaml
  packages/core/src/collections/iterable.candy
  packages/core/src/collections/map/bucket_map.candy
  packages/core/src/collections/module.candy
  packages/core/src/collections/set/map_based_set.candy
  packages/core/src/collections/set/module.candy
  packages/cst/candyspec.yaml
  packages/hir/candyspec.yaml
  packages/incremental/candyspec.yaml
  packages/petit_parser/candyspec.yaml
Labels: P: Compiler/Utils, P: Core, T: feature

#70 Readd HIR types and expressions
  packages/compiler_dart/.gitignore
  packages/hir/src/expressions.candy
  packages/hir/src/types.candy
Labels: P: Compiler/Hir, T: feature

#71 More HIR lowering
  new-packages/Core/candyspec.yaml
  new-packages/Core/src/module.candy
  packages/ast/src/module.candy
  packages/compiler_dart/lib/src/builtins.dart
  packages/core/src/io/file.candy
  packages/hir/src/example.candy
  packages/hir/src/lowering/declarations.candy
  packages/hir/src/lowering/module.candy
Labels: P: Compiler/Hir, P: Core, T: feature

#72 Dart Code improvements
  candy.code-workspace
  packages/dart_code/candyspec.yml
  packages/dart_code/src/example.candy
  packages/dart_code/src/module.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/dart_code_builder/candyspec.yml
  packages/dart_code_builder/src/example.candy
  packages/dart_code_builder/src/module.candy
  packages/dart_code_builder/src/nodes.candy
  packages/dart_code_builder/src/to_code.candy
Labels: P: DartCode, T: change

#77 Update example
  language/example.candy
  packages/vscode_extension/declarative/tmLanguage.json
Labels: T: feature

#78 Lower Use-Lines from AST to HIR
  candy.code-workspace
  new-packages/Playground/candyspec.yaml
  new-packages/Playground/src/UseLines/Blub.candy
  new-packages/Playground/src/UseLines/module.candy
  packages/ast/src/file.candy
  packages/compiler_dart/lib/src/body.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_dart/lib/src/declarations/class.dart
  packages/compiler_dart/lib/src/utils.dart
  packages/compiler_utils/src/candyspec.candy
  packages/compiler_utils/src/config.candy
  packages/compiler_utils/src/dependencies.candy
  packages/compiler_utils/src/error.candy
  packages/compiler_utils/src/module.candy
  packages/compiler_utils/src/package.candy
  packages/compiler_utils/src/utils.candy
  packages/core/src/collections/iterable.candy
  packages/core/src/numbers/int.candy
  packages/core/src/primitives.candy
  packages/hir/src/declarations.candy
  packages/hir/src/example.candy
  packages/hir/src/file.candy
  packages/hir/src/lowering/declarations.candy
  packages/hir/src/lowering/file.candy
  packages/hir/src/module.candy
Labels: P: Compiler/Ast, P: Compiler/Hir, P: Compiler/Utils, P: Core, T: feature

#79 Dart code generator beginnings
  candy.code-workspace
  packages/code_generator_dart/candyspec.yaml
  packages/code_generator_dart/candyspec.yml
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/example.candy
  packages/code_generator_dart/src/module.candy
  packages/compiler/lib/src/compilation/hir/ids.dart
  packages/compiler/lib/src/compilation/hir/type.dart
  packages/compiler_dart/lib/src/builtins.dart
  packages/compiler_utils/src/package.candy
  packages/core/src/io/file.candy
  packages/core/src/io/module.candy
  packages/core/src/io/process.candy
Labels: P: Compiler/CodeGeneratorDart, P: Core, T: feature

#80 DartCode improvements
  packages/code_generator_dart/candyspec.yaml
  packages/code_generator_dart/candyspec.yml
  packages/code_generator_dart/src/compile.candy
  packages/code_generator_dart/src/declarations/name_mangling.candy
  packages/compiler_dart/lib/src/body.dart
  packages/core/src/collections/iterable.candy
  packages/core/src/operators/comparison.candy
  packages/dart_code/src/example.candy
  packages/dart_code/src/nodes.candy
  packages/dart_code/src/to_code.candy
  packages/hir/src/module.candy
  packages/lsp_server/lib/src/handlers/execute_command.dart
Labels: P: Compiler/CodeGeneratorDart, P: Core, P: DartCode, T: feature
