Repository candy-lang/candy, pull requests merged in 2022-12, with the labels that each got.

#251 Parse function declaration with doc comment but no code
  README.md
  compiler/src/compiler/string_to_rcst.rs
Labels: T: Fix, P: Compiler

#253 Update how to use
  README.md
Labels: T: Docs

#254 Make the compilation more performant
  compiler/Cargo.toml
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir_optimize/mod.rs
  compiler/src/compiler/mir_optimize/module_folding.rs
  compiler/src/compiler/mir_to_lir.rs
  compiler/src/compiler/mod.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/compiler/tracing.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/main.rs
  compiler/src/vm/context.rs
  compiler/src/vm/heap/object.rs
Labels: P: Compiler

#255 Iterable
  README.md
  compiler/src/compiler/string_to_rcst.rs
  old-packages/Core/src/Collections/Iterate.candy
  packages/Core/_.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
Labels: T: Feature, P: Core, P: Compiler

#256 Implement Tail Call Optimization
  compiler/src/compiler/hir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/mir_optimize/module_folding.rs
  compiler/src/compiler/mir_to_lir.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/main.rs
  compiler/src/module.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/use_module.rs
  packages/Core/_.candy
  packages/Core/channel.candy
  packages/Core/check.candy
  packages/Core/concurrency.candy
  packages/Core/conditionals.candy
  packages/Core/controlFlow.candy
  packages/Core/int.candy
  packages/Core/result.candy
  packages/Core/text.candy
  packages/examples/higherLower.candy
Labels: P: Core, P: Compiler

#257 Destructuring
  .github/workflows/compiler.yaml
  README.md
  compiler/src/builtin_functions.rs
  compiler/src/compiler/README.md
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir.rs
  compiler/src/compiler/mir_optimize/module_folding.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/database.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/main.rs
  compiler/src/module.rs
  compiler/src/utils/mod.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/ids.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer/full.rs
  language.md
  packages/Core/_.candy
  packages/Core/bool.candy
  packages/Core/channel.candy
  packages/Core/check.candy
  packages/Core/concurrency.candy
  packages/Core/controlFlow.candy
  packages/Core/function.candy
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/text.candy
  packages/Core/toDebugText.candy
  packages/Core/type.candy
  packages/examples/benchmark.candy
  packages/examples/echo.candy
  packages/examples/fibonacci.candy
  packages/examples/higherLower.candy
  packages/examples/parallel.candy
  vscode_extension/declarative/language-configuration.json
Labels: T: Feature, P: Core, P: Compiler, P: VS Code Extension

#259 Advent of Code: The Beginning's Beginning
  README.md
  compiler/src/builtin_functions.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/context.rs
  compiler/src/vm/use_module.rs
  language.md
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/text.candy
  packages/adventOfCode/_.candy
  packages/adventOfCode/day1.candy
  packages/adventOfCode/inputs/_.candy
  packages/adventOfCode/inputs/day1.txt
  packages/adventOfCode/inputs/day1simple.txt
  packages/examples/iterable.candy
Labels: T: Feature, P: Core, P: Compiler
