Repository candy-lang/candy, pull requests merged in 2022-04, with the labels that each got.

#161 Add use function
  README.md
  new-new-packages/compiler/Cargo.lock
  new-new-packages/compiler/Cargo.toml
  new-new-packages/compiler/src/builtin_functions.rs
  new-new-packages/compiler/src/compiler/ast.rs
  new-new-packages/compiler/src/compiler/ast_to_hir.rs
  new-new-packages/compiler/src/compiler/cst_to_ast.rs
  new-new-packages/compiler/src/compiler/hir.rs
  new-new-packages/compiler/src/database.rs
  new-new-packages/compiler/src/discover/builtin_functions.rs
  new-new-packages/compiler/src/discover/result.rs
  new-new-packages/compiler/src/discover/run.rs
  new-new-packages/compiler/src/discover/value.rs
  new-new-packages/compiler/src/input.rs
  new-new-packages/compiler/src/language_server/definition.rs
  new-new-packages/compiler/src/language_server/hints.rs
  new-new-packages/compiler/src/language_server/mod.rs
  new-new-packages/compiler/src/language_server/references.rs
  new-new-packages/compiler/src/language_server/utils.rs
  new-new-packages/compiler/src/main.rs
  new-new-packages/vscode_extension/src/hints.ts
Labels: T: Feature

#162 Bug fixes and Core
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yaml
  .github/workflows/pr.yaml
  README.md
  candy.code-workspace
  new-new-new-packages/Core/.candy
  new-new-new-packages/Core/Bool.candy
  new-new-new-packages/Core/Conditionals.candy
  new-new-new-packages/Core/Equality.candy
  new-new-new-packages/Core/Function.candy
  new-new-new-packages/Core/Int.candy
  new-new-new-packages/Core/Needs.candy
  new-new-new-packages/Core/Panic.candy
  new-new-new-packages/Core/Struct.candy
  new-new-new-packages/Core/Symbol.candy
  new-new-new-packages/Core/Text.candy
  new-new-new-packages/Core/Type.candy
  new-new-packages/compiler/src/discover/builtin_functions.rs
  new-new-packages/compiler/src/discover/result.rs
  new-new-packages/compiler/src/discover/run.rs
  new-new-packages/compiler/src/language_server/hints.rs
  new-new-packages/compiler/src/language_server/references.rs
  new-new-packages/compiler/src/language_server/utils.rs
Labels: T: Feature, P: Core, P: Compiler

#173 New parser
  new-new-packages/compiler/Cargo.lock
  new-new-packages/compiler/Cargo.toml
  new-new-packages/compiler/src/compiler/ast.rs
  new-new-packages/compiler/src/compiler/ast_to_hir.rs
  new-new-packages/compiler/src/compiler/cst.rs
  new-new-packages/compiler/src/compiler/cst_to_ast.rs
  new-new-packages/compiler/src/compiler/error.rs
  new-new-packages/compiler/src/compiler/hir.rs
  new-new-packages/compiler/src/compiler/mod.rs
  new-new-packages/compiler/src/compiler/rcst.rs
  new-new-packages/compiler/src/compiler/rcst_to_cst.rs
  new-new-packages/compiler/src/compiler/string_to_cst.rs
  new-new-packages/compiler/src/compiler/string_to_rcst.rs
  new-new-packages/compiler/src/database.rs
  new-new-packages/compiler/src/discover/run.rs
  new-new-packages/compiler/src/input.rs
  new-new-packages/compiler/src/language_server/definition.rs
  new-new-packages/compiler/src/language_server/folding_range.rs
  new-new-packages/compiler/src/language_server/hints.rs
  new-new-packages/compiler/src/language_server/mod.rs
  new-new-packages/compiler/src/language_server/references.rs
  new-new-packages/compiler/src/language_server/semantic_tokens.rs
  new-new-packages/compiler/src/language_server/utils.rs
  new-new-packages/compiler/src/main.rs
  new-new-packages/compiler/test.candy
  new-new-packages/compiler/test2.candy
  new-new-packages/vscode_extension/src/extension.ts
Labels: P: Compiler, P: VS Code Extension
