Repository candy-lang/candy, pull requests merged in 2022-11, with the labels that each got.

#247 List literals
  README.md
  candy.code-workspace
  compiler.code-workspace
  compiler/src/builtin_functions.rs
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/use_module.rs
  packages/Core/_.candy
  packages/Core/int.candy
  packages/Core/list.candy
  packages/benchmark.candy
  packages/candy.code-workspace
Labels: T: Feature, P: Core, P: Compiler

#248 Pipe operator and Core updates
  README.md
  compiler/src/builtin_functions.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap/mod.rs
  old-packages/Core/src/.candy
  old-packages/Core/src/Assert.candy
  old-packages/Core/src/Bool.candy
  old-packages/Core/src/Collections/List/.candy
  old-packages/Core/src/Collections/List/Array.candy
  old-packages/Core/src/Collections/Map/.candy
  old-packages/Core/src/ControlFlow.candy
  old-packages/Core/src/Int.candy
  old-packages/Core/src/Maybe.candy
  old-packages/Core/src/Operators/.candy
  old-packages/Core/src/Operators/Arithmetic.candy
  old-packages/Core/src/Operators/Compare.candy
  old-packages/Core/src/Operators/Equals.candy
  old-packages/Core/src/Operators/Logical.candy
  old-packages/Core/src/Operators/Raw/.candy
  old-packages/Core/src/Operators/Raw/Infix.candy
  old-packages/Core/src/Operators/Raw/Prefix.candy
  old-packages/Core/src/Panic.candy
  old-packages/Core/src/Result.candy
  old-packages/Core/src/String.candy
  old-packages/Core/src/Todo.candy
  old-packages/Core/src/Tuples.candy
  packages/Core/bool.candy
  packages/Core/channel.candy
  packages/Core/check.candy
  packages/Core/concurrency.candy
  packages/Core/int.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/struct.candy
  packages/Core/text.candy
  packages/Core/todo.candy
  packages/benchmark.candy
Labels: T: Feature, P: Core, P: Compiler

#246 Add fuzzing to the CI
  .github/workflows/compiler.yaml
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/main.rs
  compiler/src/vm/mod.rs
  packages/Core/channel.candy
  packages/Core/int.candy
  packages/benchmark.candy
Labels: P: Core, P: Compiler, hacktoberfest-accepted

#250 Fix pipe operator
  compiler/src/compiler/string_to_rcst.rs
Labels: T: Feature, P: Compiler
