Repository candy-lang/candy, pull requests merged in 2022-07, with the labels that each got.

#228 Add support for use and useAsset
  README.md
  compiler/src/builtin_functions.rs
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/compiler/utils.rs
  compiler/src/database.rs
  compiler/src/discover/builtin_functions.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/input.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/mod.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Core/Bool.candy
  packages/Core/Check.candy
  packages/Core/Conditionals.candy
  packages/Core/Equality.candy
  packages/Core/Function.candy
  packages/Core/Int.candy
  packages/Core/Panic.candy
  packages/Core/Struct.candy
  packages/Core/Symbol.candy
  packages/Core/Text.candy
  packages/Core/Type.candy
Labels: P: Core, P: Compiler

#229 Value hints
  .gitignore
  README.md
  compiler/Cargo.lock
  compiler/src/compiler/ast.rs
  compiler/src/database.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/language_server/hints.rs
  compiler/src/language_server/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/use_provider.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Core/Bool.candy
  packages/Core/Check.candy
  packages/Core/Conditionals.candy
  packages/Core/Function.candy
  packages/Core/Int.candy
  packages/Core/Struct.candy
  packages/Core/Symbol.candy
  packages/Core/Text.candy
  packages/Core/Type.candy
  packages/Test.candy.hints
  vscode_extension/src/hints.ts
Labels: P: Core, P: Compiler, P: VS Code Extension

#230 Fuzzing
  README.md
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/database.rs
  compiler/src/discover/builtin_functions.rs
  compiler/src/discover/mod.rs
  compiler/src/discover/result.rs
  compiler/src/discover/run.rs
  compiler/src/discover/value.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/language_server/hints.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/hints/utils.rs
  compiler/src/language_server/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/utils.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Core/.candy
  vscode_extension/package.json
  vscode_extension/src/hints.ts
  vscode_extension/src/lsp_custom_protocol.ts
Labels: P: Compiler, P: VS Code Extension

#231 Change panic/needs message value to reason string
  README.md
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/vm.rs
Labels: P: Compiler

#235 Improve value formatting
  compiler/src/vm/value.rs
Labels: T: Feature, P: Compiler
