Repository candy-lang/candy, pull requests merged in 2022-10, with the labels that each got.

#243 Doc comments
  README.md
  compiler/Cargo.lock
  compiler/Cargo.toml
  compiler/src/compiler/README.md
  compiler/src/compiler/comment/mod.rs
  compiler/src/compiler/comment/rcst.rs
  compiler/src/compiler/comment/string_to_rcst.rs
  compiler/src/compiler/mod.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/main.rs
  compiler/src/vm/vm.rs
  old-packages/name_checker/bin/main.dart
  old-packages/name_checker/pubspec.lock
  old-packages/name_checker/pubspec.yaml
Labels: T: Feature, P: Compiler

#241 Channels, fibers, oh my!
  README.md
  compiler/Cargo.toml
  compiler/src/builtin_functions.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/channel.rs
  compiler/src/vm/context.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/ids.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/use_module.rs
  packages/Benchmark.candy
  packages/Core/_.candy
  packages/Core/channel.candy
  packages/Core/concurrency.candy
Labels: T: Feature, P: Core, P: Compiler

#244 Tracing
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  compiler/.gitignore
  compiler/Cargo.toml
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/generator.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/channel.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/ids.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/tracer/dummy.rs
  compiler/src/vm/tracer/full.rs
  compiler/src/vm/tracer/mod.rs
  compiler/src/vm/tracer/stack_trace.rs
  compiler/src/vm/use_module.rs
  packages/Benchmark.candy
Labels: P: Compiler, hacktoberfest-accepted

#245 Add guidelines for writing sensible needs reasons
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/fiber.rs
  language.md
  packages/Benchmark.candy
  packages/Core/bool.candy
  packages/Core/channel.candy
  packages/Core/check.candy
  packages/Core/concurrency.candy
  packages/Core/function.candy
  packages/Core/int.candy
  packages/Core/panic.candy
  packages/Core/text.candy
  packages/Core/todo.candy
  packages/Test.candy.hints
Labels: P: Core, P: Compiler, hacktoberfest-accepted
