Repository candy-lang/candy, pull requests merged in 2022-08, with the labels that each got.

#233 Extend Core
  README.md
  compiler/Cargo.lock
  compiler/Cargo.toml
  compiler/src/builtin_functions.rs
  compiler/src/compiler/README.md
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/fuzzer/generator.rs
  compiler/src/input.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Core/.candy
  packages/Core/Bool.candy
  packages/Core/Check.candy
  packages/Core/Function.candy
  packages/Core/Int.candy
  packages/Core/Result.candy
  packages/Core/Struct.candy
  packages/Core/Text.candy
  packages/Core/Todo.candy
Labels: T: Feature, P: Core, P: Compiler

#236 Add compiler CI
  .github/workflows/compiler.yaml
  candy.code-workspace
  compiler/Cargo.toml
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/database.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/input.rs
  compiler/src/language_server/definition.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/hints/utils.rs
  compiler/src/language_server/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
Labels: T: Build, P: Compiler

#237 Replace `Input` with `Module`
  compiler/src/builtin_functions.rs
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_lir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/database.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/input.rs
  compiler/src/language_server/definition.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/hints/utils.rs
  compiler/src/language_server/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  compiler/src/main.rs
  compiler/src/module.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/use_provider.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Core/Panic.candy
Labels: P: Core, P: Compiler

#238 Remove Values and use appropriate maps
  README.md
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/database.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/generator.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/heap/pointer.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer.rs
  compiler/src/vm/use_provider.rs
  compiler/src/vm/value.rs
  compiler/src/vm/vm.rs
  packages/Benchmark.candy
  packages/Core/Int.candy
Labels: P: Core, T: Change, P: Compiler
