Repository candy-lang/candy, pull requests merged in 2023-03, with the labels that each got.

#347 More optimizations
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  packages/Core/type.candy
Labels: P: Core, P: Compiler: Frontend

#353 More `RichIr` features
  .github/labels.yaml
  Cargo.lock
  compiler/cli/Cargo.toml
  compiler/cli/src/main.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir/id.rs
  compiler/frontend/src/mir/mod.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/module/module_provider.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/server.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/use_module.rs
  vscode_extension/src/debug_irs.ts
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI, P: VS Code Extension

#345 Make the parser faster
  compiler/frontend/src/cst.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/language_server/src/features_candy/folding_ranges.rs
  compiler/language_server/src/features_candy/semantic_tokens.rs
Labels: P: Compiler: Language Server, P: Compiler: Frontend

#346 All hail the HIR ID! Long live the HIR ID!
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/vm/src/mir_to_lir.rs
Labels: P: Compiler: Frontend, P: Compiler: VM

#371 Formatter
  .github/labels.yaml
  Cargo.lock
  compiler.code-workspace
  compiler/cli/Cargo.toml
  compiler/formatter/Cargo.toml
  compiler/formatter/README.md
  compiler/formatter/src/existing_parentheses.rs
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/format_collection.rs
  compiler/formatter/src/formatted_cst.rs
  compiler/formatter/src/lib.rs
  compiler/formatter/src/text_edits.rs
  compiler/formatter/src/width.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/comment/string_to_rcst.rs
  compiler/frontend/src/cst/is_multiline.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir_optimize/cleanup.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/fuzzer/Cargo.toml
  compiler/language_server/Cargo.toml
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/server.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/mir_to_lir.rs
  packages/Core/bool.candy
  packages/Core/channel.candy
  packages/Core/controlFlow.candy
  packages/Core/fixedDecimal.candy
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/struct.candy
  packages/Core/text.candy
  packages/adventOfCode/day1.candy
  packages/examples/fibonacci.candy
  packages/examples/higherLower.candy
  packages/examples/iterable.candy
  packages/examples/sqrt.candy
  vscode_extension/src/debug_irs.ts
Labels: T: Feature, P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI
