Repository candy-lang/candy, pull requests merged in 2023-01, with the labels that each got.

#260 Add Benchmarks
  Cargo.lock
  Cargo.toml
  compiler/Cargo.toml
  compiler/benches/benchmark.rs
  compiler/benches/utils.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/lir.rs
  compiler/src/compiler/mir.rs
  compiler/src/compiler/tracing.rs
  compiler/src/database.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/language_server/hints/constant_evaluator.rs
  compiler/src/language_server/mod.rs
  compiler/src/lib.rs
  compiler/src/main.rs
  compiler/src/module.rs
  compiler/src/module/mod.rs
  compiler/src/module/module.rs
  compiler/src/module/package.rs
  compiler/src/module/use_path.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/mod.rs
  compiler/src/vm/tracer/dummy.rs
  vscode_extension/package.json
Labels: T: Feature, P: Compiler, P: VS Code Extension

#262 Performance
  .gitignore
  Cargo.lock
  compiler/Cargo.toml
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/mir_optimize/common_subtree_elimination.rs
  compiler/src/lib.rs
  compiler/src/main.rs
  compiler/src/vm/builtin_functions.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/mod.rs
Labels: T: Performance, P: Compiler

#263 Benchmark CI
  .github/workflows/compiler.yaml
  compiler/Cargo.toml
  compiler/benches/benchmark.rs
Labels: T: Feature, T: Build, T: Performance, P: Compiler

#258 Text interpolation
  README.md
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/mir_optimize/constant_folding.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/semantic_tokens.rs
Labels: P: Compiler

#264 Don't clone MIR for optimizations
  .github/workflows/compiler.yaml
  compiler/src/compiler/mir.rs
  compiler/src/compiler/mir_optimize/mod.rs
  compiler/src/utils/mod.rs
Labels: T: Performance, P: Compiler

#266 Fix channel refcounts
  compiler/src/vm/heap/mod.rs
Labels: P: Compiler

#265 Run benchmark CI on main
  .github/workflows/compiler.yaml
Labels: T: Fix, T: Build

#268 Implement heap using `Vec`
  .github/workflows/compiler.yaml
  .vscode/launch.json
  .vscode/tasks.json
  compiler/benches/benchmark.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/mir.rs
  compiler/src/module/module.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/heap/pointer.rs
  old-packages/name_checker/analysis_options.yaml
  old-packages/name_checker/bin/main.dart
  old-packages/name_checker/pubspec.lock
  old-packages/name_checker/pubspec.yaml
  packages/examples/fibonacci.candy
Labels: T: Build, T: Performance, P: Compiler

#271 Use rustc-hash in MIR optimizations
  .github/PULL_REQUEST_TEMPLATE.md
  Cargo.lock
  README.md
  compiler/Cargo.toml
  compiler/benches/benchmark.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir.rs
  compiler/src/compiler/mir_optimize/cleanup.rs
  compiler/src/compiler/mir_optimize/common_subtree_elimination.rs
  compiler/src/compiler/mir_optimize/constant_lifting.rs
  compiler/src/compiler/mir_optimize/inlining.rs
  compiler/src/compiler/mir_optimize/mod.rs
  compiler/src/compiler/mir_optimize/module_folding.rs
  compiler/src/compiler/mir_optimize/module_stack_cancelling.rs
  compiler/src/compiler/mir_optimize/reference_following.rs
  compiler/src/compiler/mir_optimize/tree_shaking.rs
  compiler/src/fuzzer/generator.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/main.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/tracer/full.rs
Labels: T: Performance, P: Compiler

#272 Make debug outputs more concise
  compiler/src/compiler/ast.rs
  compiler/src/compiler/hir.rs
  compiler/src/main.rs
Labels: T: Change, P: Compiler

#273 Fix several errors found using fuzzing
  compiler/src/compiler/ast.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/string_to_rcst.rs
Labels: P: Compiler

#275 Add helper for recursive functions
  packages/Core/_.candy
  packages/Core/controlFlow.candy
  packages/examples/fibonacci.candy
Labels: P: Core

#277 Measure cycles in benchmarks
  Cargo.lock
  compiler/Cargo.toml
  compiler/benches/benchmark.rs
Labels: T: Feature, P: Compiler
