Repository candy-lang/candy, pull requests merged in 2023-10, with the labels that each got.

#757 Generate object files
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/inkwell.rs
Labels: P: Compiler: CLI, P: Compiler: Inkwell Backend

#749 Enable compiling directly to main function
  .github/workflows/compiler.yaml
  Cargo.lock
  compiler/backend_inkwell/Cargo.toml
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/debug.rs
  compiler/cli/src/inkwell.rs
  compiler/cli/src/main.rs
  compiler/cli/src/run.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/lir_optimize.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/mod.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/mir_to_byte_code.rs
  compiler/vm/src/vm.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Inkwell Backend

#775 Stricter lints in Inkwell Backend
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/debug.rs
Labels: T: Refactor, P: Compiler: CLI, P: Compiler: Inkwell Backend

#745 Use LIR for VM byte code
  compiler/cli/src/debug.rs
  compiler/cli/src/run.rs
  compiler/frontend/src/lir/body.rs
  compiler/frontend/src/lir_optimize.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/utils.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/byte_code.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir_to_byte_code.rs
  compiler/vm/src/mir_to_byte_code.rs
  compiler/vm/src/vm.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#744 Add tests to Core package
  .vscode/extensions.json
  compiler/backend_inkwell/src/lib.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_inline/int.rs
  packages/Builtins/_.candy
  packages/Core/bool.candy
  packages/Core/check.candy
  packages/Core/controlFlow.candy
  packages/Core/equality.candy
  packages/Core/function.candy
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/struct.candy
  packages/Core/tag.candy
  packages/Core/text.candy
  packages/Core/toDebugText.candy
  packages/Core/type.candy
Labels: P: Core, P: Compiler: Frontend, P: Compiler: VM, P: Builtins, P: Compiler: Inkwell Backend

#777 Fix toDebugText in constant folding
  compiler/frontend/src/mir_optimize/constant_folding.rs
Labels: P: Compiler: Frontend

#721 Add contributing guide
  CONTRIBUTING.md
Labels: T: Docs, T: Feature
