Repository candy-lang/candy, pull requests merged in 2023-12, with the labels that each got.

#825 Create formatter issue template
  .github/ISSUE_TEMPLATE/3-formatter-issue.yml
Labels: T: Docs, T: Feature

#831 Avoid calling `bit_length()` on negative integer
  compiler/fuzzer/src/values.rs
Labels: T: Fix, P: Compiler: Fuzzer

#846 Show constant values in Rich IR
  compiler/frontend/src/lir/body.rs
  compiler/frontend/src/lir/constant.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/lir/id.rs
  compiler/frontend/src/lir/mod.rs
Labels: T: Feature, P: Compiler: Frontend

#849 Fix use-after-free in fuzzer
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/instructions.rs
Labels: T: Fix, P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM

#772 Chrono package
  Cargo.lock
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  packages/Chrono/_.candy
  packages/Chrono/_package.candy
  packages/Chrono/clock.candy
  packages/Chrono/constants.candy
  packages/Chrono/duration.candy
  packages/Chrono/instant.candy
  packages/Core/fixedDecimal.candy
  packages/Core/text.candy
  packages/Examples/clock.candy
Labels: P: Core, P: Compiler: VM, P: Examples
