Repository candy-lang/candy, pull requests merged in 2023-02, with the labels that each got.

#274 Rewriting the fuzzer
  compiler/Cargo.toml
  compiler/src/compiler/mir.rs
  compiler/src/compiler/mir_optimize/constant_lifting.rs
  compiler/src/compiler/mir_optimize/mod.rs
  compiler/src/compiler/mir_optimize/module_stack_cancelling.rs
  compiler/src/compiler/mir_optimize/reference_following.rs
  compiler/src/fuzzer/fuzzer.rs
  compiler/src/fuzzer/generator.rs
  compiler/src/fuzzer/input.rs
  compiler/src/fuzzer/input_pool.rs
  compiler/src/fuzzer/mod.rs
  compiler/src/fuzzer/runner.rs
  compiler/src/fuzzer/utils.rs
  compiler/src/fuzzer/values.rs
  compiler/src/language_server/hints/fuzzer.rs
  compiler/src/language_server/hints/mod.rs
  compiler/src/language_server/mod.rs
  compiler/src/lib.rs
  compiler/src/main.rs
  compiler/src/vm/context.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/mod.rs
  packages/Core/list.candy
  packages/Core/result.candy
Labels: P: Core, P: Compiler

#278 Match
  README.md
  compiler/benches/benchmark.rs
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir.rs
  compiler/src/compiler/mir_to_lir.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/references.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/vm/fiber.rs
  compiler/src/vm/heap/mod.rs
  compiler/src/vm/heap/object.rs
  compiler/src/vm/tracer/stack_trace.rs
  old-packages/name_checker/analysis_options.yaml
Labels: T: Feature, P: Compiler

#279 Simplify primitive assignments
  compiler/src/compiler/hir_to_mir.rs
Labels: T: Performance, P: Compiler

#280 Or patterns
  compiler/src/compiler/ast.rs
  compiler/src/compiler/ast_to_hir.rs
  compiler/src/compiler/cst.rs
  compiler/src/compiler/cst_to_ast.rs
  compiler/src/compiler/error.rs
  compiler/src/compiler/hir.rs
  compiler/src/compiler/hir_to_mir.rs
  compiler/src/compiler/mir_optimize/constant_folding.rs
  compiler/src/compiler/rcst.rs
  compiler/src/compiler/rcst_to_cst.rs
  compiler/src/compiler/string_to_rcst.rs
  compiler/src/language_server/folding_range.rs
  compiler/src/language_server/semantic_tokens.rs
  compiler/src/language_server/utils.rs
  old-packages/name_checker/bin/main.dart
Labels: T: Feature, P: Compiler: Frontend, P: Compiler

#325 Fix CI for dependabot and forks
  .github/workflows/compiler.yaml
  .github/workflows/pr.yaml
Labels: T: Fix, T: Build

#326 Find references to ints
  Cargo.lock
  compiler/language_server/Cargo.toml
  compiler/language_server/src/references.rs
  compiler/vm/src/tracer/full.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: VM

#327 Move from structopt to clap
  Cargo.lock
  compiler/cli/Cargo.toml
  compiler/cli/src/main.rs
Labels: P: Compiler: CLI

#329 Core fixes and iterable additions
  packages/Core/iterable.candy
  packages/Core/struct.candy
  packages/Core/text.candy
Labels: T: Fix, T: Feature, P: Core

#335 Generate debug files (as read-only VS Code views)
  Cargo.lock
  compiler/cli/src/database.rs
  compiler/cli/src/main.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/ast.rs
  compiler/frontend/src/cst.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/mir.rs
  compiler/frontend/src/position.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/Cargo.toml
  compiler/language_server/src/database.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/folding_ranges.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/hints/utils.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_candy/semantic_tokens.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/lib.rs
  compiler/language_server/src/semantic_tokens.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/heap/object.rs
  vscode_extension/package.json
  vscode_extension/src/debug_irs.ts
  vscode_extension/src/extension.ts
  vscode_extension/src/hints.ts
  vscode_extension/src/lsp_custom_protocol.ts
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI, P: VS Code Extension

#336 More debug IR features
  compiler/frontend/src/ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/semantic_tokens.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
  vscode_extension/src/debug_irs.ts
  vscode_extension/src/lsp_custom_protocol.ts
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: VS Code Extension

#344 Implement ToRichIr for LIR
  Cargo.lock
  compiler/cli/src/main.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/lir.rs
  vscode_extension/package.json
  vscode_extension/src/debug_irs.ts
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: VM, P: Compiler: CLI, P: VS Code Extension

#328 Fix some bugs and make core package richer
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/position.rs
  old-packages/Core/src/Bool.candy
  old-packages/Core/src/Collections/List/Array.candy
  old-packages/Core/src/ControlFlow.candy
  old-packages/Core/src/Io/Print.candy
  old-packages/Core/src/Maybe.candy
  old-packages/Core/src/Primitives.candy
  old-packages/Core/src/Ranges/Progressions.candy
  old-packages/Core/src/Ranges/Ranges.candy
  old-packages/Core/src/Result.candy
  old-packages/core/src/assert.candy
  old-packages/core/src/collections/array.candy
  old-packages/core/src/maybe.candy
  old-packages/core/src/numbers/int.candy
  old-packages/core/src/operators/arithmetic.candy
  old-packages/core/src/operators/comparison.candy
  old-packages/core/src/operators/equality.candy
  old-packages/core/src/operators/logical.candy
  old-packages/core/src/operators/module.candy
  old-packages/core/src/primitives.candy
  old-packages/core/src/reflection.candy
  old-packages/core/src/result.candy
  old-packages/core/src/run.candy
  old-packages/core/src/string.candy
  old-packages/core/src/todo.candy
  old-packages/core/src/tuples.candy
  packages/Core/_.candy
  packages/Core/controlFlow.candy
  packages/Core/function.candy
  packages/Core/list.candy
  packages/Core/mutable.candy
  packages/Core/todo.candy
Labels: P: Core, P: Compiler: Frontend

#343 Add fixed decimals
  compiler/frontend/src/hir_to_mir.rs
  compiler/vm/src/builtin_functions.rs
  packages/Core/_.candy
  packages/Core/fixedDecimal.candy
  packages/Core/int.candy
  packages/examples/sqrt.candy
Labels: P: Core, P: Compiler: Frontend, P: Compiler: VM
