Repository candy-lang/candy, pull requests merged in 2023-11, with the labels that each got.

#783 Add Discord logo
  CONTRIBUTING.md
  README.md
Labels: T: Docs

#779 Comment out all the tests from Core
  packages/Core/bool.candy
  packages/Core/controlFlow.candy
  packages/Core/equality.candy
  packages/Core/function.candy
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/struct.candy
  packages/Core/tag.candy
  packages/Core/text.candy
  packages/Core/toDebugText.candy
  packages/Core/type.candy
Labels: P: Core

#786 Use `vec.extract_if(…)` for constant lifting
  .github/workflows/compiler.yaml
  compiler/frontend/src/lib.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
Labels: T: Performance, P: Compiler: Frontend

#795 HTTP: Basic Server
  .github/labels.yaml
  .gitignore
  Cargo.lock
  compiler/frontend/src/module/module.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir_to_byte_code.rs
  packages/Http/_.candy
  packages/Http/_package.candy
  packages/Http/server/_.candy
  packages/Http/server/request.candy
  packages/Http/serverExample.candy
Labels: T: Feature, P: Compiler: Frontend, P: Compiler: VM
