Repository candy-lang/candy, pull requests merged in 2023-04, with the labels that each got.

#390 Support packages
  .github/workflows/compiler.yaml
  Cargo.lock
  compiler/cli/Cargo.toml
  compiler/cli/src/database.rs
  compiler/cli/src/main.rs
  compiler/formatter/Cargo.toml
  compiler/formatter/src/existing_parentheses.rs
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/format_collection.rs
  compiler/formatter/src/formatted_cst.rs
  compiler/formatter/src/lib.rs
  compiler/formatter/src/width.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/module/mod.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/module/module_provider.rs
  compiler/frontend/src/module/package.rs
  compiler/frontend/src/module/thinking.md
  compiler/frontend/src/module/use_path.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
  compiler/vm/benches/benchmark.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/Cargo.toml
  packages/Core/_package.candy
  packages/adventOfCode/inputs/_.candy
  packages/examples/_.candy
  packages/examples/_package.candy
  packages/examples/benchmark.candy
  packages/examples/echo.candy
  packages/examples/fibonacci.candy
  packages/examples/higherLower.candy
  packages/examples/iterable.candy
  packages/examples/parallel.candy
  packages/examples/sqrt.candy
  vscode_extension/package.json
  vscode_extension/src/extension.ts
Labels: P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter

#403 Automerge PRs and auto-approve minor/patch Dependabot PRs
  .github/dependabot.yml
  .github/labels.yaml
  .github/workflows/pr.yaml
Labels: T: Build

#410 Grant contents write permission to automerge job
  .github/workflows/pr.yaml
Labels: T: Fix

#404 Preserve necessary parentheses in BinaryBar's left during formatting
  compiler/formatter/src/format.rs
Labels: T: Fix, P: Compiler: Formatter

#406 Make Width Copy
  compiler/formatter/src/existing_parentheses.rs
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/format_collection.rs
  compiler/formatter/src/formatted_cst.rs
  compiler/formatter/src/lib.rs
  compiler/formatter/src/width.rs
Labels: T: Refactor, P: Compiler: Formatter

#405 Migrate to dtolnay/rust-toolchain and Swatinem/rust-cache; use exact Action versions
  .github/workflows/compiler.yaml
  .github/workflows/pr.yaml
Labels: T: Build

#412 Bugfixes
  Cargo.lock
  compiler/cli/src/database.rs
  compiler/cli/src/main.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/comment/string_to_rcst.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/module/mod.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/module/module_provider.rs
  compiler/frontend/src/module/package.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
  compiler/vm/benches/utils.rs
  packages/README.md
  packages/examples/parallel.candy
  vscode_extension/.eslintrc.json
  vscode_extension/package.json
  vscode_extension/src/extension.ts
  vscode_extension/src/hints.ts
  vscode_extension/tsconfig.json
Labels: T: Fix, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: VM, P: Compiler: CLI

#415 Automerge everything
  .github/workflows/pr.yaml
Labels: T: Build

#394 Add Tags
  compiler/cli/src/main.rs
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/vm.rs
  language.md
  packages/Core/_.candy
  packages/Core/tag.candy
  packages/Core/type.candy
Labels: P: Core, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#418 Replace expanduser with shellexpand
  Cargo.lock
  compiler/frontend/Cargo.toml
  compiler/frontend/src/module/package.rs
Labels: P: Compiler: Frontend

#417 Support renaming identifiers
  .github/workflows/pr.yaml
  Cargo.lock
  compiler/language_server/Cargo.toml
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/server.rs
Labels: T: Feature, P: Compiler: Language Server

#401 Heap object representation
  Cargo.lock
  compiler/cli/src/main.rs
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/module/module_provider.rs
  compiler/frontend/src/module/package.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/vm/Cargo.toml
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/channel.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/closure.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_heap/utils.rs
  compiler/vm/src/heap/object_inline/builtin.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/heap/object_inline/pointer.rs
  compiler/vm/src/heap/object_inline/port.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/tracer/full.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/use_module.rs
  compiler/vm/src/utils.rs
  compiler/vm/src/vm.rs
Labels: T: Feature, P: Compiler: Language Server, T: Performance, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter

#420 Use `FxHashSet` i/o `SortedSet` to store heap object pointers
  Cargo.lock
  compiler/cli/README.md
  compiler/vm/Cargo.toml
  compiler/vm/src/heap/mod.rs
Labels: T: Performance, P: Compiler: VM, P: Compiler: CLI

#421 Use bot token to enable automerge
  .github/workflows/pr.yaml
Labels: T: Fix, T: Build
