Repository candy-lang/candy, pull requests merged in 2023-07, with the labels that each got.

#537 Implement fuzzing hints
  Cargo.lock
  compiler/cli/src/utils.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/width.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/comment/string_to_rcst.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/reference_following.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/fuzzer/Cargo.toml
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/mod.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/mod.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_candy/analyzer/static_panics.rs
  compiler/language_server/src/features_candy/analyzer/utils.rs
  compiler/language_server/src/features_candy/hints/hint.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/server.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/stack_trace.rs
  vscode_extension/package.json
  vscode_extension/src/extension.ts
  vscode_extension/src/hints.ts
  vscode_extension/src/lsp_custom_protocol.ts
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter

#562 Make Core library ricker
  packages/Core/int.candy
  packages/Core/text.candy
Labels: P: Core

#575 Rename core to olderCore
  old-packages/olderCore/candyspec.yaml
  old-packages/olderCore/candyspec.yml
  old-packages/olderCore/src/bool.candy
  old-packages/olderCore/src/collections/iterable.candy
  old-packages/olderCore/src/collections/list/array_list.candy
  old-packages/olderCore/src/collections/list/module.candy
  old-packages/olderCore/src/collections/map/bucket_map.candy
  old-packages/olderCore/src/collections/map/linked_hash_map.candy
  old-packages/olderCore/src/collections/map/module.candy
  old-packages/olderCore/src/collections/module.candy
  old-packages/olderCore/src/collections/set/map_based_set.candy
  old-packages/olderCore/src/collections/set/module.candy
  old-packages/olderCore/src/hash.candy
  old-packages/olderCore/src/io/file.candy
  old-packages/olderCore/src/io/module.candy
  old-packages/olderCore/src/io/print.candy
  old-packages/olderCore/src/io/process.candy
  old-packages/olderCore/src/module.candy
  old-packages/olderCore/src/numbers/int.candy
  old-packages/olderCore/src/numbers/module.candy
  old-packages/olderCore/src/random/module.candy
  old-packages/olderCore/src/random/randoms.candy
  old-packages/olderCore/src/random/source.candy
  old-packages/olderCore/src/string.candy
Labels: T: Refactor

#573 Change assign author action
  .github/workflows/pr.yaml
Labels: T: Build

#563 Improve fuzzer
  Cargo.lock
  compiler/formatter/src/width.rs
  compiler/fuzzer/Cargo.toml
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/static_panics.rs
Labels: P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: Formatter

#581 Add rust-toolchain.toml
  .github/workflows/compiler.yaml
  README.md
  compiler/vm/fuzz/README.md
  rust-toolchain.toml
Labels: T: Build, P: Compiler: VM

#584 Avoid cloning instructions
  compiler/vm/src/fiber.rs
Labels: T: Performance, P: Compiler: VM
