Repository candy-lang/candy, pull requests merged in 2023-06, with the labels that each got.

#463 Add coverage-guided fuzzing
  Cargo.lock
  compiler/cli/src/fuzz.rs
  compiler/fuzzer/Cargo.toml
  compiler/fuzzer/src/coverage.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/vm/src/context.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
Labels: P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#464 Support match of tag with value
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/cleanup.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/result.candy
  packages/Core/struct.candy
Labels: P: Core, P: Compiler: Frontend, P: Compiler: VM

#480 Fix fuzzing hints
  compiler/cli/src/run.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/compound.rs
  packages/Core/iterable.candy
  packages/Core/result.candy
Labels: P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#483 Impl `ExecutionController` and `Tracer` for tuples
  Cargo.lock
  compiler/cli/src/run.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/execution_controller.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/tracer/compound.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/tuple.rs
  compiler/vm/src/vm.rs
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#487 Fix indentation of single match inside assignment
  compiler/formatter/src/format.rs
  compiler/formatter/src/format_collection.rs
  compiler/formatter/src/width.rs
Labels: T: Fix, P: Compiler: Formatter

#488 Fix pipe evaluation order
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst_to_ast.rs
Labels: P: Compiler: Frontend

#496 Format body with single assignment correctly
  compiler/formatter/src/format.rs
Labels: T: Fix, P: Compiler: Formatter

#495 Add binary trees benchmark
  compiler/language_server/src/features_candy/semantic_tokens.rs
  compiler/vm/README.md
  compiler/vm/benches/benchmark.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_inline/int.rs
  packages/Core/iterable.candy
  packages/programmingLanguageBenchmarks/README.md
  packages/programmingLanguageBenchmarks/_.candy
  packages/programmingLanguageBenchmarks/_package.candy
  packages/programmingLanguageBenchmarks/binarytrees.candy
Labels: T: Feature, P: Core, P: Compiler: Language Server, P: Compiler: VM

#497 Avoid superfluous leading empty line in body
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
Labels: T: Fix, P: Compiler: Formatter

#499 Improve reference resolution
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst/tree_with_ids.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/references.rs
Labels: P: Compiler: Language Server, P: Compiler: Frontend

#504 Show function and argument names in debugger
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/mod.rs
  compiler/language_server/src/debug_adapter/paused/mod.rs
  compiler/language_server/src/debug_adapter/paused/scope.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/utils.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/debug_adapter/utils.rs
  compiler/language_server/src/debug_adapter/vm_state.rs
  compiler/language_server/src/utils.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/vm.rs
  third_party/dap-rs/src/events.rs
  third_party/dap-rs/src/requests.rs
  third_party/dap-rs/src/responses.rs
  third_party/dap-rs/src/reverse_requests.rs
  third_party/dap-rs/src/types.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM

#479 Show fuzzing errors as diagnostics
  compiler/language_server/src/features_candy/hints/hint.rs
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
Labels: P: Compiler: Language Server

#507 Debugger: Read memory
  Cargo.lock
  compiler/language_server/Cargo.toml
  compiler/language_server/src/debug_adapter/paused/memory.rs
  compiler/language_server/src/debug_adapter/paused/mod.rs
  compiler/language_server/src/debug_adapter/paused/scope.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/lib.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/lib.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: VM

#482 Add VSCode status bar item
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/server.rs
  vscode_extension/src/debug_irs.ts
  vscode_extension/src/extension.ts
  vscode_extension/src/hints.ts
  vscode_extension/src/lsp_custom_protocol.ts
  vscode_extension/src/server_status.ts
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension

#513 Move builtins to separate package
  .github/labels.yaml
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/module/package.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/vm/benches/utils.rs
  compiler/vm/src/builtin_functions.rs
  packages/Builtins/_.candy
  packages/Builtins/_package.candy
  packages/Core/bool.candy
  packages/Core/channel.candy
  packages/Core/concurrency.candy
  packages/Core/controlFlow.candy
  packages/Core/equality.candy
  packages/Core/function.candy
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Core/struct.candy
  packages/Core/symbol.candy
  packages/Core/tag.candy
  packages/Core/text.candy
  packages/Core/toDebugText.candy
  packages/Core/type.candy
  packages/examples/_.candy
  packages/examples/fibonacci.candy
  packages/examples/helloWorld.candy
  packages/examples/iterable.candy
  packages/examples/sqrt.candy
  vscode_extension/declarative/language-configuration.json
Labels: T: Feature, P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: VM

#517 Discover static panics
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/hints/static_panics.rs
Labels: P: Compiler: Language Server

#518 More constant folding
  Cargo.lock
  compiler/cli/src/check.rs
  compiler/cli/src/main.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/fuzzer/src/values.rs
  compiler/vm/benches/utils.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/lib.rs
  packages/Builtins/_.candy
Labels: T: Feature, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Builtins

#519 Add `PurenessInsights`
  .vscode/launch.json
  .vscode/tasks.json
  compiler/cli/src/debug.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/cleanup.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/tree_shaking.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/module/package.rs
  compiler/language_server/src/features_candy/hints/hints_finder.rs
  compiler/language_server/src/features_candy/hints/static_panics.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/src/mir_to_lir.rs
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#524 Add `Context` and `CurrentExpression` for MIR optimizations
  compiler.code-workspace
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/current_expression.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/reference_following.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/mir_optimize/validate.rs
  compiler/frontend/src/utils.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/mir_to_lir.rs
Labels: T: Refactor, P: Compiler: Frontend, P: Compiler: VM
