Repository candy-lang/candy, pull requests merged in 2023-05, with the labels that each got.

#425 Show the CLI some love
  .github/workflows/compiler.yaml
  Cargo.lock
  compiler/cli/Cargo.toml
  compiler/cli/src/check.rs
  compiler/cli/src/debug.rs
  compiler/cli/src/fuzz.rs
  compiler/cli/src/lsp.rs
  compiler/cli/src/main.rs
  compiler/cli/src/run.rs
  compiler/cli/src/services/mod.rs
  compiler/cli/src/services/stdin.rs
  compiler/cli/src/services/stdout.rs
  compiler/cli/src/utils.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/src/lir.rs
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#423 Require compile-time use
  compiler/cli/src/database.rs
  compiler/cli/src/debug.rs
  compiler/cli/src/run.rs
  compiler/cli/src/services/stdin.rs
  compiler/cli/src/services/stdout.rs
  compiler/cli/src/utils.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/error.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir/mod.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/module_stack_cancelling.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/module/package.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/semantic_tokens.rs
  compiler/vm/Cargo.toml
  compiler/vm/benches/benchmark.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/channel.rs
  compiler/vm/src/context.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/closure.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/full.rs
  compiler/vm/src/use_module.rs
  compiler/vm/src/vm.rs
  packages/examples/higherLower.candy
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#430 Apply more suggestions
  compiler/fuzzer/src/runner.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/fiber.rs
Labels: P: Compiler: Fuzzer, P: Compiler: VM

#431 Rename lambda and closure to function
  README.md
  compiler/cli/src/fuzz.rs
  compiler/cli/src/run.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/width.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/cst/is_multiline.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst/tree_with_ids.rs
  compiler/frontend/src/cst/unwrap_whitespace_and_comment.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/complexity.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/tree_shaking.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/features_candy/folding_ranges.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_candy/semantic_tokens.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/full.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/vm.rs
  language.md
  packages/Core/concurrency.candy
  vscode_extension/src/debug_irs.ts
Labels: P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter

#432 Add helloworld example and save origins in LIR
  compiler/cli/src/debug.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/semantic_tokens.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  packages/examples/helloWorld.candy
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#433 Improve MIR to LIR lowering
  compiler/cli/src/run.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/mir/mod.rs
  compiler/frontend/src/mir_optimize/cleanup.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/mir_to_lir.rs
Labels: P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#440 Reuse fiber heap for tracer
  compiler/cli/src/run.rs
  compiler/cli/src/services/stdin.rs
  compiler/cli/src/services/stdout.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/language_server/src/features_candy/hints/constant_evaluator.rs
  compiler/language_server/src/features_candy/hints/fuzzer.rs
  compiler/language_server/src/features_candy/hints/mod.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/channel.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object_heap/utils.rs
  compiler/vm/src/heap/object_inline/port.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/tracer/compound.rs
  compiler/vm/src/tracer/dummy.rs
  compiler/vm/src/tracer/evaluated_values.rs
  compiler/vm/src/tracer/full.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/use_module.rs
  compiler/vm/src/vm.rs
  packages/README.md
Labels: P: Compiler: Language Server, T: Performance, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#444 Fix fuzzer segmentation fault
  compiler/cli/src/fuzz.rs
  compiler/cli/src/run.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/language_server/src/debug_adapter/tracer.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/fuzz_vm.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/tracer/compound.rs
  compiler/vm/src/tracer/evaluated_values.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/vm.rs
Labels: P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI
