Repository candy-lang/candy, pull requests merged in 2023-08, with the labels that each got.

#574 Improve fixed decimals
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_inline/int.rs
  packages/Builtins/_.candy
  packages/Core/fixedDecimal.candy
  packages/Core/int.candy
  packages/examples/sqrt.candy
Labels: P: Core, P: Compiler: VM, P: Builtins

#583 Disable reference counting for constants
  compiler/cli/src/run.rs
  compiler/cli/src/services/stdin.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/lib.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/vm.rs
Labels: T: Feature, P: Compiler: Language Server, T: Performance, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#590 Symbol table
  compiler/cli/src/run.rs
  compiler/formatter/src/format.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/fiber.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_inline/builtin.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/heap/object_inline/pointer.rs
  compiler/vm/src/heap/object_inline/port.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/heap/symbol_table.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/vm.rs
  packages/Examples/.goldens/_.candy/LIR.txt
  packages/Examples/.goldens/_package.candy/LIR.txt
  packages/Examples/.goldens/echo.candy/LIR.txt
  packages/Examples/.goldens/fibonacci.candy/LIR.txt
  packages/Examples/.goldens/helloWorld.candy/LIR.txt
  packages/Examples/.goldens/higherLower.candy/LIR.txt
  packages/Examples/.goldens/higherLower.candy/Optimized MIR.txt
  packages/Examples/.goldens/iterable.candy/LIR.txt
  packages/Examples/.goldens/iterable.candy/Optimized MIR.txt
  packages/Examples/.goldens/parallel.candy/LIR.txt
  packages/Examples/.goldens/sqrt.candy/AST.txt
  packages/Examples/.goldens/sqrt.candy/CST.txt
  packages/Examples/.goldens/sqrt.candy/HIR.txt
  packages/Examples/.goldens/sqrt.candy/LIR.txt
  packages/Examples/.goldens/sqrt.candy/MIR.txt
  packages/Examples/.goldens/sqrt.candy/Optimized MIR.txt
  packages/Examples/.goldens/sqrt.candy/RCST.txt
Labels: T: Feature, P: Compiler: Language Server, T: Performance, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter

#600 Inline symbols fix
  compiler/vm/src/heap/object_inline/tag.rs
  packages/Examples/.goldens/_.candy/LIR.txt
  packages/Examples/.goldens/echo.candy/LIR.txt
  packages/Examples/.goldens/fibonacci.candy/LIR.txt
  packages/Examples/.goldens/helloWorld.candy/LIR.txt
  packages/Examples/.goldens/higherLower.candy/LIR.txt
  packages/Examples/.goldens/iterable.candy/LIR.txt
  packages/Examples/.goldens/parallel.candy/LIR.txt
  packages/Examples/.goldens/sqrt.candy/LIR.txt
Labels: T: Fix, P: Compiler: VM

#599 Print compilation and execution durations
  compiler/cli/src/run.rs
Labels: T: Feature, P: Compiler: CLI

#588 Improve print
  compiler/cli/src/fuzz.rs
  compiler/frontend/src/format.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_inline/mod.rs
  packages/Builtins/_.candy
  packages/Core/iterable.candy
  packages/Examples/.goldens/_.candy/LIR.txt
  packages/Examples/.goldens/_.candy/Optimized MIR.txt
  packages/Examples/.goldens/average.candy/AST.txt
  packages/Examples/.goldens/average.candy/CST.txt
  packages/Examples/.goldens/average.candy/HIR.txt
  packages/Examples/.goldens/average.candy/LIR.txt
  packages/Examples/.goldens/average.candy/MIR.txt
  packages/Examples/.goldens/average.candy/Optimized MIR.txt
  packages/Examples/.goldens/average.candy/RCST.txt
  packages/Examples/.goldens/echo.candy/LIR.txt
  packages/Examples/.goldens/echo.candy/Optimized MIR.txt
  packages/Examples/.goldens/fibonacci.candy/LIR.txt
  packages/Examples/.goldens/fibonacci.candy/Optimized MIR.txt
  packages/Examples/.goldens/higherLower.candy/LIR.txt
  packages/Examples/.goldens/higherLower.candy/Optimized MIR.txt
  packages/Examples/.goldens/iterable.candy/LIR.txt
  packages/Examples/.goldens/iterable.candy/Optimized MIR.txt
  packages/Examples/.goldens/parallel.candy/LIR.txt
  packages/Examples/.goldens/parallel.candy/Optimized MIR.txt
  packages/Examples/.goldens/sqrt.candy/LIR.txt
  packages/Examples/.goldens/sqrt.candy/Optimized MIR.txt
  packages/Examples/average.candy
Labels: P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Builtins

#612 Print structs sorted
  compiler/frontend/src/format.rs
Labels: P: Compiler: Frontend

#604 Support destructuring in lamdba parameters
  Cargo.toml
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst/error.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/fuzzer/src/utils.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  packages/Core/iterable.candy
  packages/Core/list.candy
  packages/Examples/.goldens/_.candy/AST.txt
  packages/Examples/.goldens/average.candy/AST.txt
  packages/Examples/.goldens/average.candy/LIR.txt
  packages/Examples/.goldens/average.candy/Optimized MIR.txt
  packages/Examples/.goldens/average.candy/VM Byte Code.txt
  packages/Examples/.goldens/echo.candy/AST.txt
  packages/Examples/.goldens/fibonacci.candy/AST.txt
  packages/Examples/.goldens/fibonacci.candy/CST.txt
  packages/Examples/.goldens/fibonacci.candy/HIR.txt
  packages/Examples/.goldens/fibonacci.candy/LIR.txt
  packages/Examples/.goldens/fibonacci.candy/MIR.txt
  packages/Examples/.goldens/fibonacci.candy/Optimized MIR.txt
  packages/Examples/.goldens/fibonacci.candy/RCST.txt
  packages/Examples/.goldens/fibonacci.candy/VM Byte Code.txt
  packages/Examples/.goldens/helloWorld.candy/AST.txt
  packages/Examples/.goldens/higherLower.candy/AST.txt
  packages/Examples/.goldens/iterable.candy/AST.txt
  packages/Examples/.goldens/iterable.candy/LIR.txt
  packages/Examples/.goldens/iterable.candy/Optimized MIR.txt
  packages/Examples/.goldens/iterable.candy/VM Byte Code.txt
  packages/Examples/.goldens/parallel.candy/AST.txt
  packages/Examples/.goldens/sqrt.candy/AST.txt
  packages/Examples/fibonacci.candy
Labels: T: Fix, T: Feature, P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM

#589 Avoid clones in CSE
  Cargo.lock
  compiler/frontend/Cargo.toml
  compiler/frontend/src/lib.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  packages/Examples/.goldens/average.candy/LIR.txt
  packages/Examples/.goldens/average.candy/Optimized MIR.txt
  packages/Examples/.goldens/average.candy/VM Byte Code.txt
  packages/Examples/.goldens/echo.candy/LIR.txt
  packages/Examples/.goldens/echo.candy/Optimized MIR.txt
  packages/Examples/.goldens/echo.candy/VM Byte Code.txt
  packages/Examples/.goldens/fibonacci.candy/LIR.txt
  packages/Examples/.goldens/fibonacci.candy/Optimized MIR.txt
  packages/Examples/.goldens/fibonacci.candy/VM Byte Code.txt
  packages/Examples/.goldens/helloWorld.candy/LIR.txt
  packages/Examples/.goldens/helloWorld.candy/Optimized MIR.txt
  packages/Examples/.goldens/helloWorld.candy/VM Byte Code.txt
  packages/Examples/.goldens/higherLower.candy/LIR.txt
  packages/Examples/.goldens/higherLower.candy/Optimized MIR.txt
  packages/Examples/.goldens/higherLower.candy/VM Byte Code.txt
  packages/Examples/.goldens/iterable.candy/LIR.txt
  packages/Examples/.goldens/iterable.candy/Optimized MIR.txt
  packages/Examples/.goldens/iterable.candy/VM Byte Code.txt
  packages/Examples/.goldens/parallel.candy/LIR.txt
  packages/Examples/.goldens/parallel.candy/Optimized MIR.txt
  packages/Examples/.goldens/parallel.candy/VM Byte Code.txt
  packages/Examples/.goldens/sqrt.candy/LIR.txt
  packages/Examples/.goldens/sqrt.candy/Optimized MIR.txt
  packages/Examples/.goldens/sqrt.candy/VM Byte Code.txt
Labels: T: Performance, P: Compiler: Frontend

#621 Update colored
  Cargo.lock
  compiler/cli/Cargo.toml
Labels: T: Build, T: Security, P: Compiler: CLI

#623 Make the VM fast again
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/vm/src/vm.rs
Labels: P: Compiler: Language Server, P: Compiler: VM

#619 Stricter lints in frontend
  compiler/cli/src/run.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/comment/rcst.rs
  compiler/frontend/src/comment/string_to_rcst.rs
  compiler/frontend/src/cst/id.rs
  compiler/frontend/src/cst/is_multiline.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst/mod.rs
  compiler/frontend/src/cst/tree_with_ids.rs
  compiler/frontend/src/cst/unwrap_whitespace_and_comment.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/format.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/id.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/lir/body.rs
  compiler/frontend/src/lir/constant.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/lir/mod.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir/mod.rs
  compiler/frontend/src/mir_optimize/cleanup.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/complexity.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/current_expression.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/reference_following.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/frontend/src/module/mod.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/module/module_provider.rs
  compiler/frontend/src/module/module_provider_owner.rs
  compiler/frontend/src/module/package.rs
  compiler/frontend/src/module/use_path.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/frontend/src/tracing.rs
  compiler/frontend/src/utils.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_candy/analyzer/static_panics.rs
  compiler/language_server/src/features_candy/analyzer/utils.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/vm/src/tracer/stack_trace.rs
  packages/candy.code-workspace
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#632 Fix golden IR checkout on main
  .github/workflows/compiler.yaml
Labels: T: Fix, T: Build

#631 Specify label for Dependabot PRs
  .github/dependabot.yml
Labels: T: Build

#578 LLVM-based Compiler
  .github/labels.yaml
  .github/workflows/compiler.yaml
  .gitignore
  Cargo.lock
  Cargo.toml
  compiler.code-workspace
  compiler/backend_inkwell/Cargo.toml
  compiler/backend_inkwell/README.md
  compiler/backend_inkwell/candy_runtime/Makefile
  compiler/backend_inkwell/candy_runtime/candy_builtin.c
  compiler/backend_inkwell/candy_runtime/candy_builtin.h
  compiler/backend_inkwell/candy_runtime/candy_runtime.c
  compiler/backend_inkwell/candy_runtime/candy_runtime.h
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/Cargo.toml
  compiler/cli/src/inkwell.rs
  compiler/cli/src/main.rs
  compiler/frontend/src/builtin_functions.rs
  packages/Examples/minimal.candy
Labels: T: Feature, P: Compiler: Frontend, P: Compiler: CLI

#639 Don't auto-approve VS Code updates
  .github/workflows/pr.yaml
  vscode_extension/package.json
Labels: T: Fix, T: Build, P: Compiler: VS Code Extension

#641 Handle exports struct if multiple main functions exist
  compiler/backend_inkwell/src/lib.rs
Labels: T: Fix, P: Compiler: Inkwell Backend

#651 Onboarding improvements
  .vscode/extensions.json
  Cargo.lock
  README.md
  compiler.code-workspace
  packages/Examples/average.candy
  packages/candy.code-workspace
  vscode_extension/.vscode/launch.json
  vscode_extension/package.json
  vscode_extension/src/extension.ts
Labels: T: Docs, P: Compiler: VS Code Extension

#646 Support Tags with Values
  compiler/backend_inkwell/candy_runtime/candy_builtin.c
  compiler/backend_inkwell/candy_runtime/candy_builtin.h
  compiler/backend_inkwell/candy_runtime/candy_runtime.c
  compiler/backend_inkwell/candy_runtime/candy_runtime.h
  compiler/backend_inkwell/src/lib.rs
Labels: P: Compiler: Inkwell Backend

#654 Stricter lints in Formatter
  compiler/formatter/src/existing_parentheses.rs
  compiler/formatter/src/existing_whitespace.rs
  compiler/formatter/src/format.rs
  compiler/formatter/src/format_collection.rs
  compiler/formatter/src/formatted_cst.rs
  compiler/formatter/src/lib.rs
  compiler/formatter/src/text_edits.rs
  compiler/formatter/src/width.rs
Labels: T: Refactor, P: Compiler: Formatter

#638 Clean up compiler frontend
  Cargo.lock
  compiler/formatter/fuzz/fuzz_targets/formatter.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/string_to_rcst.rs
  compiler/frontend/src/string_to_rcst/body.rs
  compiler/frontend/src/string_to_rcst/expression.rs
  compiler/frontend/src/string_to_rcst/function.rs
  compiler/frontend/src/string_to_rcst/int.rs
  compiler/frontend/src/string_to_rcst/list.rs
  compiler/frontend/src/string_to_rcst/literal.rs
  compiler/frontend/src/string_to_rcst/mod.rs
  compiler/frontend/src/string_to_rcst/parenthesized.rs
  compiler/frontend/src/string_to_rcst/struct_.rs
  compiler/frontend/src/string_to_rcst/text.rs
  compiler/frontend/src/string_to_rcst/utils.rs
  compiler/frontend/src/string_to_rcst/whitespace.rs
  compiler/frontend/src/string_to_rcst/word.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/vm/Cargo.toml
  compiler/vm/benches/benchmark.rs
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: Formatter

#650 Remove symbol table
  .github/workflows/compiler.yaml
  compiler/cli/src/fuzz.rs
  compiler/cli/src/run.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/lib.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/builtin.rs
  compiler/vm/src/heap/object_inline/handle.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/heap/object_inline/pointer.rs
  compiler/vm/src/heap/object_inline/tag.rs
  compiler/vm/src/heap/object_representation.md
  compiler/vm/src/heap/symbol_table.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/vm.rs
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#657 Stricter lints in VM
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/hir_id.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/builtin.rs
  compiler/vm/src/heap/object_inline/handle.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/heap/object_inline/pointer.rs
  compiler/vm/src/heap/object_inline/tag.rs
  compiler/vm/src/heap/pointer.rs
  compiler/vm/src/instruction_pointer.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir.rs
  compiler/vm/src/mir_to_lir.rs
  compiler/vm/src/tracer/evaluated_values.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/utils.rs
  compiler/vm/src/vm.rs
Labels: T: Refactor, P: Compiler: VM

#658 Stricter lints in Fuzzer
  compiler/fuzzer/src/coverage.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/input.rs
  compiler/fuzzer/src/input_pool.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/fuzzer/src/utils.rs
  compiler/fuzzer/src/values.rs
Labels: T: Refactor, P: Compiler: Fuzzer

#667 Environment trait
  compiler/cli/src/run.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/vm.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#670 Move Heap outside VM
  compiler/cli/src/run.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/paused/memory.rs
  compiler/language_server/src/debug_adapter/paused/mod.rs
  compiler/language_server/src/debug_adapter/paused/scope.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/vm.rs
Labels: T: Fix, P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#671 Arguments in environment
  compiler/cli/src/run.rs
  compiler/frontend/src/module/module.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  packages/Core/result.candy
  packages/Examples/fibonacci.candy
Labels: T: Feature, P: Core, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#681 Add `list.first`, `.single`
  packages/Core/list.candy
Labels: T: Feature, P: Core

#682 Rename VM LIR to ByteCode
  compiler/cli/src/debug.rs
  compiler/cli/src/run.rs
  compiler/fuzzer/src/fuzzer.rs
  compiler/fuzzer/src/lib.rs
  compiler/fuzzer/src/runner.rs
  compiler/language_server/src/debug_adapter/mod.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/README.md
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/byte_code.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/mir_to_byte_code.rs
  compiler/vm/src/vm.rs
Labels: P: Compiler: Language Server, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#684 Fix a crash of the extension
  compiler/language_server/src/features_ir.rs
Labels: P: Compiler: Language Server

#683 Optimized LIR with fewer dup/drops
  compiler/cli/src/database.rs
  compiler/cli/src/debug.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/lir/body.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/lir/mod.rs
  compiler/frontend/src/lir_optimize.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/frontend/src/utils.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/features_ir.rs
  vscode_extension/src/debug_irs.ts
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: CLI

#613 Newline support in text
  compiler/formatter/src/format.rs
  compiler/frontend/src/cst/is_multiline.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst/tree_with_ids.rs
  compiler/frontend/src/cst/unwrap_whitespace_and_comment.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/string_to_rcst/text.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/folding_ranges.rs
  compiler/language_server/src/features_candy/semantic_tokens.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: Formatter

#691 Stricter lints in Language Server
  compiler/frontend/src/module/module_provider_owner.rs
  compiler/language_server/src/database.rs
  compiler/language_server/src/debug_adapter/mod.rs
  compiler/language_server/src/debug_adapter/paused/memory.rs
  compiler/language_server/src/debug_adapter/paused/scope.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/utils.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/debug_adapter/tracer.rs
  compiler/language_server/src/features.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/analyzer/mod.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_candy/analyzer/static_panics.rs
  compiler/language_server/src/features_candy/mod.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/language_server/src/features_candy/semantic_tokens.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/lib.rs
  compiler/language_server/src/semantic_tokens.rs
  compiler/language_server/src/server.rs
  compiler/language_server/src/utils.rs
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Frontend

#695 Fix declarative VS Code indentation rules
  vscode_extension/declarative/language-configuration.json
Labels: T: Fix, P: Compiler: VS Code Extension

#700 Fix panic on unresolved use
  compiler/frontend/src/cst_to_ast.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  vscode_extension/declarative/language-configuration.json
Labels: T: Fix, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VS Code Extension
