Repository candy-lang/candy, pull requests merged in 2023-09, with the labels that each got.

#702 Language server crashes on invalid imports
  compiler/cli/src/main.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/language_server/src/features_candy/analyzer/insights.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/references.rs
Labels: T: Fix, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: CLI

#668 Document built-ins
  compiler/frontend/src/builtin_functions.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  packages/Builtins/_.candy
Labels: P: Compiler: Frontend, P: Compiler: VM, P: Builtins

#719 Binary and hexadecimal ints, `list.getRange`, `iterable.range`
  compiler/formatter/src/format.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst/mod.rs
  compiler/frontend/src/module/module_provider_owner.rs
  compiler/frontend/src/rcst_to_cst.rs
  compiler/frontend/src/string_to_rcst/int.rs
  compiler/frontend/src/string_to_rcst/utils.rs
  packages/Core/iterable.candy
  packages/Core/list.candy
Labels: T: Feature, P: Core, P: Compiler: Frontend, P: Compiler: Formatter

#714 Add LLVM Golden IRs
  .github/workflows/compiler.yaml
  .gitignore
  compiler/backend_inkwell/Cargo.toml
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/database.rs
  compiler/cli/src/debug.rs
  compiler/language_server/Cargo.toml
  compiler/language_server/src/database.rs
  compiler/language_server/src/features_ir.rs
  packages/Examples/fibonacci.candy
  vscode_extension/package.json
  vscode_extension/src/debug_irs.ts
Labels: P: Compiler: Language Server, P: Compiler: VS Code Extension, P: Compiler: CLI, P: Compiler: Inkwell Backend

#720 Improve stack traces
  compiler/cli/src/run.rs
  compiler/frontend/src/error.rs
  compiler/frontend/src/position.rs
  compiler/vm/src/tracer/stack_trace.rs
Labels: T: Feature, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#713 Merge list and parenthesized parsing
  compiler/frontend/src/string_to_rcst/expression.rs
  compiler/frontend/src/string_to_rcst/list.rs
  compiler/frontend/src/string_to_rcst/mod.rs
  compiler/frontend/src/string_to_rcst/parenthesized.rs
Labels: P: Compiler: Frontend

#722 Fixes
  Cargo.lock
  compiler/frontend/src/module/module.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/src/tracer/stack_trace.rs
  packages/Builtins/_.candy
  packages/Core/iterable.candy
  packages/Core/result.candy
Labels: T: Fix, P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Builtins

#731 Remove unused dependencies
  Cargo.lock
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/Cargo.toml
  compiler/cli/src/main.rs
  compiler/formatter/Cargo.toml
  compiler/formatter/src/lib.rs
  compiler/frontend/src/lib.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/lib.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/lib.rs
Labels: P: Compiler: Language Server, T: Build, P: Compiler: Frontend, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter, P: Compiler: Inkwell Backend

#729 Random
  .github/labels.yaml
  Cargo.lock
  compiler/cli/src/main.rs
  compiler/frontend/src/ast.rs
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/cst/tree_with_ids.rs
  compiler/frontend/src/cst_to_ast.rs
  compiler/language_server/src/features_candy/find_definition.rs
  compiler/language_server/src/features_candy/references.rs
  compiler/vm/Cargo.toml
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/mod.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  packages/Core/int.candy
  packages/Core/iterable.candy
  packages/Random/_.candy
  packages/Random/_package.candy
  packages/Random/distributions/_.candy
  packages/Random/distributions/uniform.candy
  packages/Random/example.candy
  packages/Random/rng.candy
  packages/Random/rngs/_.candy
  packages/Random/rngs/pseudo/_.candy
  packages/Random/rngs/pseudo/utils.candy
  packages/Random/rngs/pseudo/xorshift.candy
Labels: T: Feature, P: Core, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI
