Repository candy-lang/candy, pull requests merged in 2024-01, with the labels that each got.

#845 Simplify formatter issue template
  .github/ISSUE_TEMPLATE/3-formatter-issue.yml
Labels: T: Docs

#840 More text functions
  packages/Core/list.candy
  packages/Core/text.candy
Labels: T: Feature, P: Core

#852 Support all `TracingMode`s in CLI
  Cargo.lock
  compiler/cli/src/debug.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/tracing.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/byte_code.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI

#859 Optimize if foo { True } { False }
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
Labels: P: Compiler: Frontend

#856 Fix use-after-free and bodies returning constant value
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/lir_optimize.rs
  compiler/frontend/src/mir_to_lir.rs
Labels: T: Fix, P: Compiler: Frontend

#863 Add #[must_use]; remove unused struct; update VS Code workspace config
  compiler.code-workspace
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/tag.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/builtin.rs
  compiler/vm/src/heap/object_inline/handle.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/heap/object_inline/pointer.rs
  compiler/vm/src/heap/object_inline/tag.rs
  compiler/vm/src/heap/pointer.rs
  compiler/vm/src/instructions.rs
Labels: T: Feature, T: Refactor, P: Compiler: VM

#862 Dup responsibility value when passing as normal argument
  .github/workflows/compiler.yaml
  compiler/frontend/src/mir_to_lir.rs
Labels: T: Fix, P: Compiler: Frontend

#867 Compile tag patterns more efficiently
  compiler/frontend/src/hir_to_mir.rs
Labels: P: Compiler: Frontend

#869 Don't import builtins multiple times in unoptimized HIR
  compiler/frontend/src/ast_to_hir.rs
Labels: P: Compiler: Frontend

#841 Deduplicate deterministic expressions
  compiler/frontend/src/mir/body.rs
  compiler/frontend/src/mir_optimize/after_panic.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/current_expression.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/reference_following.rs
  compiler/frontend/src/mir_optimize/tree_shaking.rs
  compiler/frontend/src/mir_optimize/utils.rs
Labels: T: Feature, P: Compiler: Frontend

#872 Optimize patterns
  compiler/frontend/src/hir_to_mir.rs
Labels: P: Compiler: Frontend

#880 Enable call tracing in benchmarks
  compiler/vm/benches/utils.rs
Labels: T: Fix, P: Compiler: VM

#871 Trace tail calls
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/debug.rs
  compiler/cli/src/inkwell.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/tail_calls.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/tracer.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/vm/src/byte_code.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lir_to_byte_code.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/tracer/tuple.rs
Labels: T: Feature, P: Compiler: Language Server, T: Performance, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Inkwell Backend

#881 Call tracing mode: only potentially panicking
  Cargo.lock
  compiler/cli/src/debug.rs
  compiler/cli/src/run.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/lib.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/mir_optimize/call_tracing.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/frontend/src/mir_optimize/tail_calls.rs
  compiler/frontend/src/mir_optimize/utils.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/tracing.rs
  compiler/frontend/src/utils.rs
  compiler/fuzzer/src/lib.rs
  compiler/language_server/src/debug_adapter/session.rs
  compiler/language_server/src/debug_adapter/tracer.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/vm/benches/utils.rs
  compiler/vm/src/byte_code.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lir_to_byte_code.rs
  compiler/vm/src/tracer/mod.rs
  compiler/vm/src/tracer/stack_trace.rs
  compiler/vm/src/tracer/tuple.rs
  compiler/vm/src/vm.rs
  vscode_extension/src/debug_irs.ts
Labels: T: Feature, P: Compiler: Language Server, T: Performance, P: Compiler: Frontend, P: Compiler: VS Code Extension, P: Compiler: Fuzzer, P: Compiler: VM, P: Compiler: CLI

#893 CSV Decoder
  .github/labels.yaml
  packages/Core/list.candy
  packages/Csv/_.candy
  packages/Csv/decode.candy
  packages/Parser/_.candy
  packages/Parser/_package.candy
  packages/Parser/cursor.candy
  packages/Parser/parser.candy
Labels: T: Feature, P: Core, P: Csv

#873 Enable call tracing in goldens
  .github/workflows/compiler.yaml
  compiler/cli/src/debug.rs
Labels: T: Feature, P: Compiler: CLI

#898 Fix language server crash on two public assignments with the same name
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/mir_optimize/call_tracing.rs
  compiler/frontend/src/mir_optimize/pure.rs
Labels: T: Fix, P: Compiler: Frontend

#897 Fix stack trace formatting of needs' HIR ID
  compiler/vm/src/tracer/stack_trace.rs
Labels: T: Fix, P: Compiler: VM

#887 Scopes higher order fn
  compiler/frontend/src/ast_to_hir.rs
Labels: T: Refactor, P: Compiler: Frontend

#885 CSV Package
  .github/labels.yaml
  .github/workflows/pr.yaml
  compiler/frontend/src/mir_optimize/pure.rs
  packages/Core/_.candy
  packages/Core/iterator.candy
  packages/Core/list.candy
  packages/Csv/_.candy
  packages/Csv/_package.candy
  packages/Csv/decode.candy
  packages/Csv/encode.candy
  packages/Parser/_.candy
  packages/Parser/_package.candy
  packages/Parser/cursor.candy
  packages/Parser/parser.candy
  packages/candy.code-workspace
Labels: T: Feature, P: Core, P: Compiler: Frontend

#904 Move all constants to the top before sorting
  compiler/frontend/src/mir_optimize/cleanup.rs
Labels: T: Fix, P: Compiler: Frontend

#908 Read a file
  .github/labels.yaml
  compiler/vm/src/environment.rs
  compiler/vm/src/heap/mod.rs
  packages/Examples/file.candy
Labels: T: Feature, P: Compiler: VM, P: Examples, P: FileSystem

#906 Make LIR body's RichIr foldable
  .github/workflows/pr.yaml
  compiler/frontend/src/ast.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/lir/body.rs
  compiler/frontend/src/mir/expression.rs
  compiler/frontend/src/rich_ir.rs
Labels: T: Fix, P: Compiler: Frontend

#903 Comment out iterator tests
  packages/Core/iterator.candy
  vscode_extension/package.json
Labels: T: Fix, P: Core, T: Performance, P: Compiler: VS Code Extension

#922 Fix labeler config file name
  .github/labeler.yml
Labels: T: Fix, T: Build
