Repository candy-lang/candy, pull requests merged in 2024-04, with the labels that each got.

#925 Add Range package
  packages/Range/_.candy
  packages/Range/_package.candy
  packages/Range/bound.candy
  packages/Range/example.candy
Labels: P: Examples

#1015 Fix text with leading whitespace parsing
  compiler/frontend/src/string_to_rcst/text.rs
Labels: P: Compiler: Frontend, P: Compiler: VM

#1007 Improve VM performance
  .gitignore
  compiler/cli/README.md
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object.rs
  compiler/vm/src/heap/object_heap/function.rs
  compiler/vm/src/heap/object_heap/int.rs
  compiler/vm/src/heap/object_heap/list.rs
  compiler/vm/src/heap/object_heap/mod.rs
  compiler/vm/src/heap/object_heap/struct_.rs
  compiler/vm/src/heap/object_heap/text.rs
  compiler/vm/src/heap/object_inline/int.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/vm.rs
  flake.nix
Labels: T: Performance, P: Compiler: VM, P: Compiler: CLI

#1006 Smaller VM instructions
  compiler/vm/src/byte_code.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lib.rs
  compiler/vm/src/lir_to_byte_code.rs
Labels: T: Performance, P: Compiler: VM
