Repository candy-lang/candy, pull requests merged in 2024-02, with the labels that each got.

#911 FileSystem Package: Read file convenience functions
  packages/Core/result.candy
  packages/Examples/file.candy
  packages/FileSystem/_.candy
  packages/FileSystem/_package.candy
  packages/FileSystem/file.candy
Labels: T: Feature, P: Core, P: Examples, P: FileSystem

#909 Guard calls
  compiler/frontend/src/builtin_functions.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/pure.rs
  compiler/vm/src/builtin_functions.rs
  compiler/vm/src/instructions.rs
Labels: P: Compiler: Frontend, P: Compiler: VM

#923 Inline longer functions; support allocation tracing
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/vm/src/heap/mod.rs
  compiler/vm/src/heap/object_heap/mod.rs
Labels: T: Feature, T: Performance, P: Compiler: Frontend, P: Compiler: VM

#924 Add simple glossary to LIR
  compiler/frontend/src/lir/mod.rs
Labels: P: Compiler: Frontend

#934 Fix `github.base_ref` comparison in automerge condition
  .github/workflows/pr.yaml
Labels: T: Fix, T: Build

#937 Complex Number Package
  .github/labeler.yml
  packages/ComplexNumber/_.candy
  packages/ComplexNumber/_package.candy
  packages/Core/fixedDecimal.candy
  packages/Core/int.candy
Labels: T: Feature, P: Core

#949 Update README
  README.md
  compiler/frontend/src/hir.rs
Labels: T: Docs, P: Compiler: Frontend

#950 Remove debug info from release builds
  Cargo.toml
  compiler/cli/README.md
Labels: T: Build, T: Performance, P: Compiler: CLI

#952 Add CLI to README
  README.md
Labels: T: Docs

#927 Fix folding range panic
  compiler/language_server/src/features_candy/folding_ranges.rs
Labels: T: Fix, P: Compiler: Language Server

#962 Fix constant folding's `typeOf textFromUtf8`
  compiler/frontend/src/mir_optimize/constant_folding.rs
Labels: T: Fix, P: Compiler: Frontend

#964 Constant fold more int operations
  compiler/frontend/src/mir_optimize/constant_folding.rs
Labels: T: Feature, P: Compiler: Frontend

#961 Log optimizations
  README.md
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir_optimize/common_subtree_elimination.rs
  compiler/frontend/src/mir_optimize/constant_folding.rs
  compiler/frontend/src/mir_optimize/constant_lifting.rs
  compiler/frontend/src/mir_optimize/current_expression.rs
  compiler/frontend/src/mir_optimize/inlining.rs
  compiler/frontend/src/mir_optimize/log.rs
  compiler/frontend/src/mir_optimize/mod.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/mir_optimize/reference_following.rs
Labels: T: Feature, P: Compiler: Frontend

#969 Bencher: Fix --else-if-branch on main
  .github/workflows/compiler.yaml
Labels: T: Fix, T: Build

#971 Fix iai-callgrind-runner installation in CI
  .github/workflows/compiler.yaml
Labels: T: Fix

#929 Smaller HirId
  Cargo.lock
  compiler/cli/src/inkwell.rs
  compiler/cli/src/utils.rs
  compiler/formatter/fuzz/fuzz_targets/formatter.rs
  compiler/frontend/Cargo.toml
  compiler/frontend/src/ast_to_hir.rs
  compiler/frontend/src/hir.rs
  compiler/frontend/src/hir_to_mir.rs
  compiler/frontend/src/mir_optimize/module_folding.rs
  compiler/frontend/src/module/module.rs
  compiler/frontend/src/module/module_provider_owner.rs
  compiler/frontend/src/module/use_path.rs
  compiler/frontend/src/string_to_rcst/mod.rs
  compiler/language_server/src/debug_adapter/paused/stack_trace.rs
  compiler/language_server/src/debug_adapter/paused/variable.rs
  compiler/language_server/src/features_candy/analyzer/module_analyzer.rs
  compiler/language_server/src/features_ir.rs
  compiler/language_server/src/utils.rs
  compiler/vm/benches/utils.rs
  compiler/vm/fuzz/fuzz_targets/vm.rs
  compiler/vm/src/tracer/stack_trace.rs
Labels: P: Compiler: Language Server, T: Performance, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI, P: Compiler: Formatter
