Repository candy-lang/candy, pull requests merged in 2024-03, with the labels that each got.

#985 Support Nix
  .envrc
  compiler/backend_inkwell/src/lib.rs
  compiler/cli/src/inkwell.rs
  flake.lock
  flake.nix
  old-packages/name_checker/pubspec.lock
  old-packages/name_checker/pubspec.yaml
  rust-toolchain.toml
Labels: T: Build, P: Compiler: CLI, P: Compiler: Inkwell Backend

#987 Fix Nix setup
  README.md
  flake.nix
  vscode_extension/package-lock.json
  vscode_extension/package.json
Labels: T: Build, P: Compiler: VS Code Extension

#988 Fix `id_path.parent()` for top-level IDs
  Cargo.toml
  compiler/frontend/src/hir.rs
Labels: T: Fix, P: Compiler: Frontend

#993 Implement ToRichIr for Cst
  .gitignore
  compiler/frontend/src/cst/id.rs
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/cst/mod.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/language_server/src/features_ir.rs
Labels: T: Feature, P: Compiler: Language Server, P: Compiler: Frontend

#970 Create Ascii package
  .github/labeler.yml
  packages/AnsiEscapeSequences/_.candy
  packages/AnsiEscapeSequences/controlSequences.candy
  packages/AnsiEscapeSequences/escapeCode.candy
  packages/Ascii/_.candy
  packages/Ascii/_package.candy
  packages/Core/text.candy
Labels: T: Feature, P: Core, P: AnsiEscapeSequences

#994 Convert parser tests to snapshot testing
  .vscode/extensions.json
  Cargo.lock
  compiler/frontend/Cargo.toml
  compiler/frontend/src/cst/kind.rs
  compiler/frontend/src/rcst.rs
  compiler/frontend/src/rich_ir.rs
  compiler/frontend/src/string_to_rcst/body.rs
  compiler/frontend/src/string_to_rcst/expression.rs
  compiler/frontend/src/string_to_rcst/function.rs
  compiler/frontend/src/string_to_rcst/int.rs
  compiler/frontend/src/string_to_rcst/list.rs
  compiler/frontend/src/string_to_rcst/struct_.rs
  compiler/frontend/src/string_to_rcst/text.rs
  compiler/frontend/src/string_to_rcst/utils.rs
  compiler/frontend/src/string_to_rcst/whitespace.rs
  compiler/frontend/src/string_to_rcst/word.rs
  flake.nix
Labels: T: Refactor, P: Compiler: Language Server, P: Compiler: Frontend

#973 save current disambiguators
  compiler/frontend/src/ast_to_hir.rs
Labels: T: Performance, P: Compiler: Frontend

#992 More efficient if/else
  compiler/cli/src/debug.rs
  compiler/frontend/src/lir/expression.rs
  compiler/frontend/src/mir_to_lir.rs
  compiler/vm/src/byte_code.rs
  compiler/vm/src/instructions.rs
  compiler/vm/src/lir_to_byte_code.rs
  flake.nix
Labels: T: Performance, P: Compiler: Frontend, P: Compiler: VM, P: Compiler: CLI
